<div id = "viewport">

    <!-- Header -->
    <app-header></app-header>

    <div id = "content">
        <div id = "main-image-container">
            <img src = "../../../assets/project-pages/freeriderco-clothing/images/freeriderco-clothing-banner.jpg" id = "main-image">
        </div>

        <div class = "text-container">
            <p id = "project-title">
                Freerider Co. Clothing Launch
            </p>
            <p id = "brief-title" class = "bold">
                The brief
            </p>
            <p class = "light">
                Freerider are launching their new maternity clothing range,
                branching out from baby carriers and changing bags. This involved
                new brand photography, a social media launch campaign and a new
                website design. We needed to change the brand identity to match
                with new brand colours and a clean visual style, with a bit more edge.
            </p>
        </div>

        <div id = "phones-container">
            <img src = "../../../assets/project-pages/freeriderco-clothing/images/phone-laptop.jpg" id = "phones-image">
        </div>

        <div class = "misc-images">
            <img src = "../../../assets/project-pages/freeriderco-clothing/images/icon-product.gif">
            <img src = "../../../assets/project-pages/freeriderco-clothing/images/Freerider_Image_1.jpg">
        </div>

        <div id = "misc-videos-container">
            <video id = "misc-video" controls playsinline>
                <source src = "../../../assets/project-pages/freeriderco-clothing/videos/Brand_Video_1.mp4" type = "video/mp4">
            </video>
            <video id = "misc-video" controls playsinline>
                <source src = "../../../assets/project-pages/freeriderco-clothing/videos/Brand_Video_2.mp4" type = "video/mp4">
            </video>
            <video id = "misc-video" controls playsinline>
                <source src = "../../../assets/project-pages/freeriderco-clothing/videos/Brand_Video_3.mp4" type = "video/mp4">
            </video>
        </div>

        <div class = "text-container">
            <p id = "solution-title" class = "bold">
                The solution
            </p>
            <p class = "light">
                We created suspense with teasers and behind the scenes footage
                of the shoot. With the tag line ‘The Maternity Revolution’ to
                mark our brand change and how Freerider intend to change the
                Maternity clothing market. This also involved detailed previews
                of each product, highlighting the key benefits such as the sustainable materials.<br /><br /> 
                Also taking advantage of reels to engage and drive views towards the brand,
                in the anticipation to launch. The colour scheme was adapted to have more earthy,
                natural tones to reflect the materials and environmental impact of the brand.     
            </p>
        </div>

        <div class = "misc-images">
            <img src = "../../../assets/project-pages/freeriderco-clothing/images/stories-phone.gif">
            <video loop autoplay muted playsinline>
                <source src = "../../../assets/project-pages/freeriderco-clothing/videos/Freerider_Reels_Phone.mp4" type = "video/mp4">
            </video>
        </div>

        <div class = "misc-images2">
            <video loop autoplay muted playsinline>
                <source src = "../../../assets/project-pages/freeriderco-clothing/videos/tops.mp4">
            </video>
            <img src = "../../../assets/project-pages/freeriderco-clothing/images/Freerider_Image_2.JPG">
            <video loop autoplay muted playsinline>
                <source src = "../../../assets/project-pages/freeriderco-clothing/videos/leggings.mp4">
            </video>
        </div>

        <div class = "misc-images2">
            <img src = "../../../assets/project-pages/freeriderco-clothing/images/Freerider_Image_3.JPG">
            <video loop autoplay muted playsinline>
                <source src = "../../../assets/project-pages/freeriderco-clothing/videos/xmas.mp4">
            </video>
            <img src = "../../../assets/project-pages/freeriderco-clothing/images/Freerider_Image_4.JPG">
        </div>

        <!-- Footer -->
        <div id = "footer-container">
            <app-footer></app-footer>
        </div>

    </div>

    <div id = "white-bar">
        <a routerLink = "/work" id = "header-logo"><img src = "../../assets/header/logo-dark.gif"></a>
    </div>

    <!-- Burger Menu -->
    <app-burger-menu></app-burger-menu>

</div>