<div id = "viewport">

    <!-- Header -->
    <app-header></app-header>

    <div id = "content">
        <div id = "main-image-container">
            <img src = "../../../assets/project-pages/ee/images/promo.jpg" id = "main-image">
        </div>

        <div class = "text-container">
            <p id = "project-title">
                EE Future Mobile.
            </p>

            <div class = "credit">
                <p id = "agency" class = "red-text">Agency:</p>
                <p id = "agency2" class = "light">Sideshow</p>
            </div>
            <div class = "credit">
                <p id = "designer" class = "red-text">Designer:</p>
                <p id = "designer2" class = "light">Alice Hodge</p>
            </div>
            <div class = "credit">
                <p id = "animator" class = "red-text">Animator</p>
                <p id = "animator2" class = "light">Ingrida Klasauskite</p>
            </div>

            <p id = "brief-title" class = "bold">
                The brief
            </p>
            <p class = "light">
                Whilst working at The Sideshow Agency, I had the opportunity to storyboard and
                design assets for an EE branded animation. We needed to launch
                EE’s new plans with an explainer ('in a nutshell’) type video for their
                internal sales team. This involved creating vector illustrations in the
                EE brand style and telling a story alongside the script.
            </p>
        </div>

        <div id = "promo-container">
            <video id = "promo-video" controls controlsList = "nodownload" disablePictureInPicture poster = "../../../assets/project-pages/ee/images/thumbnail.jpg">
                <source src = "../../../assets/project-pages/ee/videos/promo.mp4" type = "video/mp4">
            </video>
        </div>

        <div class = "text-container">
            <p id = "solution-title" class = "bold">
                The approach
            </p>
            <p class = "light">
                Setting the scene by highlighting key aspects and benefits using simple
                illustrations. The EE brand colours are aqua, yellow and grey, which remain
                consistent throughout the design.
            </p>
        </div>

        <div id = "storyboard-container">
            <img src = "../../../assets/project-pages/ee/images/storyboard.jpg" id = "storyboard-image">
        </div>

        <div class = "misc-images" id = "misc-1">
            <img src = "../../../assets/project-pages/ee/images/anim4.gif">
            <img src = "../../../assets/project-pages/ee/images/anim1.gif">
        </div>

        <div class = "misc-images" id = "misc-2">
            <img src = "../../../assets/project-pages/ee/images/anim2.gif">
            <img src = "../../../assets/project-pages/ee/images/anim3.gif">
        </div>

        <!-- Footer -->
        <div id = "footer-container">
            <app-footer></app-footer>
        </div>

    </div>

    <div id = "header-logo-container"></div>
    <a routerLink = "/work" id = "header-logo"><img src = "../../assets/header/logo-dark.gif"></a>

    <!-- Burger Menu -->
    <app-burger-menu></app-burger-menu>

</div>