.carousel .ui-carousel .ui-carousel-content .ui-carousel-item .logo-container {
    margin: 1em;
    text-align: center;
    /*outline: green solid 2px;*/
    height: 5vw;
}

.carousel .ui-carousel.ui-carousel-horizontal .ui-carousel-content .ui-carousel-item.ui-carousel-item-start .logo-container {
    margin-left: 0.1em;
}

.carousel .ui-carousel.ui-carousel-horizontal .ui-carousel-content .ui-carousel-item.ui-carousel-item-end .logo-container {
    margin-right: 0.1em;
}

/* Dots */
.carousel .ui-carousel.custom-carousel .ui-carousel-dots-container {
    visibility: hidden;
}

.ui-carousel-prev, .ui-carousel-next {
    visibility: hidden;
}

.ui-carousel-prev > span, .ui-carousel-next > span {
    font-size: 1.5vw;
}

.ui-carousel-prev-icon, .ui-carousel-next-icon {
    visibility: visible;
    color: grey;
    opacity: 0.5;
}

#logo-img {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
}

@media screen and (max-width: 1024px) {
    .ui-carousel-prev > span, .ui-carousel-next > span {
        font-size: 2vw;
    }
    .carousel .ui-carousel .ui-carousel-content .ui-carousel-item .logo-container {
        height: 10vw;
    }
}

@media screen and (max-width: 600px) {
    .carousel .ui-carousel .ui-carousel-content .ui-carousel-item .logo-container {
        margin: 0.5em;
    }
}