<div id = "viewport">

    <!-- Header -->
    <app-header></app-header>

    <div id = "content">
        <div id = "main-image-container">
            <img src = "../../../assets/project-pages/all-different-all-normal/images/promo.jpg" id = "main-image">
        </div>

        <div class = "text-container">
            <p id = "project-title">
                All Different. All Normal.
            </p>
            <p id = "brief-title" class = "bold">
                The challenge
            </p>
            <p class = "light">
                Cervical cancer screening rates are at a 20 year low.
                One in three women don’t attend their appointments due to embarrassment.
                This embarrassment consists of concerns over the appearance of their vulva.
            </p>
        </div>

        <div class = "text-container">
            <p id = "solution-title" class = "bold">
                The solution
            </p>
            <p class = "light">
                An integrated campaign aiming to increase the attendance rate of cervical
                screenings, by promoting individuality and self-love. Involving videos,
                animations and print materials that advertise a pop up event and website.
            </p>
        </div>

        <div id = "vaginas-container">
            <video id = "vaginas-video" loop = "true" autoplay = "autoplay" muted>
                <source src = "../../../assets/project-pages/all-different-all-normal/videos/vaginas.mp4" type = "video/mp4">
            </video>
        </div>

        <div id = "promo-container">
            <video id = "promo-video" controls controlsList = "nodownload" disablePictureInPicture poster = "../../../assets/project-pages/all-different-all-normal/images/thumbnail.jpg">
                <source src = "../../../assets/project-pages/all-different-all-normal/videos/promo.mp4" type = "video/mp4">
            </video>
        </div>

        <div class = "text-container">
            <p id = "approach-title" class = "bold">
                The approach
            </p>
            <p class = "light">
                A bold visual approach opens up conversations about a taboo subject.
                The website improves the booking process, as well as, helping to inform
                and inspire women.
            </p>
        </div>

        <div id = "underground-container">
            <img src = "../../../assets/project-pages/all-different-all-normal/images/underground-mockup.jpg" id = "underground-image">
        </div>

        <div id = "misc-images">
            <img src = "../../../assets/project-pages/all-different-all-normal/images/billboard.gif">
            <img src = "../../../assets/project-pages/all-different-all-normal/images/street.gif">
        </div>

        <!-- Footer -->
        <div id = "footer-container">
            <app-footer></app-footer>
        </div>

    </div>

    <div id = "white-bar">
        <a routerLink = "/work" id = "header-logo"><img src = "../../assets/header/logo-dark.gif"></a>
    </div>
    
    <!-- Burger Menu -->
    <app-burger-menu></app-burger-menu>

</div>