<div id = "viewport">

    <!-- Header -->
    <app-header></app-header>

    <!-- Logo -->
    <a routerLink = "/work" id = "header-logo"><img src = "../../assets/header/logo-dark.gif"></a>

    <div id = "content">
        <div id = "main-image-container">
            <img src = "../../../assets/project-pages/all-different-all-normal/images/website-mockup.jpg" id = "main-image">
        </div>

        <div id = "brief-container">
            <p id = "project-title" class = "bold">
                ALL DIFFERENT. ALL NORMAL.
            </p>
            <p id = "brief-title" class = "bold">
                Brief
            </p>
            <p id = "brief-text" class = "light">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit
                esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
            </p>
        </div>

        <div id = "vaginas-container">
            <video class = "vaginas-video" loop autoplay>
                <source src = "../../../assets/project-pages/all-different-all-normal/videos/brown.mp4" type = "video/mp4">
            </video>
            <video class = "vaginas-video" loop autoplay>
                <source src = "../../../assets/project-pages/all-different-all-normal/videos/pink.mp4" type = "video/mp4">
            </video>
            <video class = "vaginas-video" loop autoplay>
                <source src = "../../../assets/project-pages/all-different-all-normal/videos/red.mp4" type = "video/mp4">
            </video>
        </div>

        <div id = "solution-container">
            <p id = "solution-title" class = "bold">
                Solution
            </p>
            <p id = "solution-text" class = "light">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit
                esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
            </p>
        </div>

        <div id = "promo-container">
            <video id = "promo-video" controls controlsList = "nodownload" disablePictureInPicture>
                <source src = "../../../assets/project-pages/all-different-all-normal/videos/promo.mp4" type = "video/mp4">
            </video>
        </div>

        <div id = "underground-container">
            <img src = "../../../assets/project-pages/all-different-all-normal/images/underground-mockup.jpg" id = "underground-image">
        </div>

        <div id = "misc-images">
            <img src = "../../../assets/project-pages/all-different-all-normal/images/billboard.gif">
            <img src = "../../../assets/project-pages/all-different-all-normal/images/street.gif">
        </div>

        <!-- Footer -->
        <div id = "footer-container">
            <app-footer></app-footer>
        </div>

    </div>

    

    <!-- Burger Menu -->
    <app-burger-menu></app-burger-menu>

</div>