/* Footer */
#footer-container {
    position: absolute;
    top: calc(100% - 5vw);
    width: 100%;
    height: 5vw;
}

#footer-socials {
    position: absolute;
    top: 50%;
    left: 82.5%;
    width: 15%;
    height: 5vw;
    transform: translate(0%, -50%);
}

/* Image Properties */
#footer-socials img {
    position: absolute;
    width: 1.25vw;
    height: 1.25vw;
    top: 50%;
    transform: translate(-50%, -50%);
}
#footer-instagram {
    left: 42.5%;
}
#footer-linkedin {
    left: 57.5%;
}
#footer-vimeo {
    left: 72.5%;
}
#footer-giphy {
    left: 87.5%;
}

#footer-text {
    position: absolute;
    top: 50%;
    left: 4%;
    width: 20%;
    height: 5vw;
    transform: translate(0%, -50%);
}

/* Text Properties */
#footer-text p, #footer-text a {
    text-decoration: none;
    font-family: "GT Walsheim Light", sans-serif;
    font-size: 0.65vw;
    color: grey;
    width: max-content;
}

#footer-text a:hover {
    color: #e98279
}

#footer-copyright, #footer-developedby {
    position: absolute;
    width: max-content;
    height: 2vw;
    transform: translate(0%, -50%);
    cursor: default;

    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-copyright {
    top: 40%;
}
#footer-developedby {
    top: 60%;
}

@media screen and (max-width: 768px) {
    #footer-container {
        height: 15vw;
    }
    #footer-socials {
        top: 10%;
        left: 0%;
        width: 100%;
    }
    #footer-socials img {
        width: 3vw;
        height: 3vw;
    }
    #footer-instagram {
        left: 41%;
    }
    #footer-linkedin {
        left: 47%;
    }
    #footer-vimeo {
        left: 53%;
    }
    #footer-giphy {
        left: 59%;
    }
    #footer-text {
        top: 50%;
        left: 0%;
        width: 100%;
    }
    #footer-text p, #footer-text a {
        font-size: 1.5vw;
    }
    #footer-copyright {
        top: 25%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    #footer-developedby {
        top: 75%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
}