<div id = "footer-container">
    <div id = "footer-socials">
        <a href = "https://www.instagram.com/alicehodgedesign/"><img src = "../../assets/footer-social-icons/instagram-grey.svg"
        onmouseover = "this.src = '../../assets/footer-social-icons/instagram-red.svg';"
        onmouseout = "this.src = '../../assets/footer-social-icons/instagram-grey.svg';"
        id = "footer-instagram">
        </a>
        <a href = "https://www.linkedin.com/in/alice-hodge-a88995151/"><img src = "../../assets/footer-social-icons/linkedin-grey.svg"
        onmouseover = "this.src = '../../assets/footer-social-icons/linkedin-red.svg';"
        onmouseout = "this.src = '../../assets/footer-social-icons/linkedin-grey.svg';"
        id = "footer-linkedin">
        </a>
        <a href = "https://vimeo.com/user80054186"><img src = "../../assets/footer-social-icons/vimeo-grey.svg"
        onmouseover = "this.src = '../../assets/footer-social-icons/vimeo-red.svg';"
        onmouseout = "this.src = '../../assets/footer-social-icons/vimeo-grey.svg';"
        id = "footer-vimeo">
        </a>
        <a href = "https://giphy.com/Alicehodgedesign"><img src = "../../assets/footer-social-icons/giphy-grey.svg"
        onmouseover = "this.src = '../../assets/footer-social-icons/giphy-red.svg';"
        onmouseout = "this.src = '../../assets/footer-social-icons/giphy-grey.svg';"
        id = "footer-giphy">
        </a>
    </div>

    <div id = "footer-text">
        <div id = "footer-copyright">
            <span>© Alice Hodge, 2020</span>
        </div>
        <div id = "footer-developedby">
            <span>Developed by <a href = "mailto: joshhhbailey@gmail.com" id = "email">Josh Bailey</a></span>
        </div>
    </div>
</div>