/* Footer */
#footer-container {
    position: absolute;
    top: calc(100% - 5vw);
    width: 100%;
    height: 5vw;
}

#footer-socials {
    position: absolute;
    top: 50%;
    left: calc(96% + 22px);
    width: max-content;
    height: 50px;
    transform: translate(-100%, -50%);
}

/* Image Properties */
#footer-socials img {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 22px;
    margin-top: calc(1.5vw - 11px);
}
#footer-socials a {
    font-size: 0;
}

#footer-instagram {
    left: 42.5%;
}
#footer-linkedin {
    left: 57.5%;
}
#footer-vimeo {
    left: 72.5%;
}
#footer-giphy {
    left: 87.5%;
}

#footer-text {
    position: absolute;
    top: 50%;
    left: 4%;
    width: 20%;
    height: 50px;
    transform: translate(0%, -50%);
}

/* Text Properties */
#footer-text p, #footer-text a {
    text-decoration: none;
    font-family: "GT Walsheim Light", sans-serif;
    font-size: 12px;
    color: grey;
    width: max-content;
}

#footer-text a:hover {
    color: #e98279
}

#footer-copyright, #footer-developedby {
    position: absolute;
    width: max-content;
    height: 2vw;
    transform: translate(0%, -50%);
    cursor: default;

    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-copyright {
    top: 10%;
}
#footer-developedby {
    top: 50%;
}

@media screen and (max-width: 1024px) {
    #footer-copyright {
        top: 0%;
    }
    #footer-developedby {
        top: 40%;
    }
}

@media screen and (max-width: 768px) {
    #footer-container {
        height: 15vw;
    }
    #footer-instagram {
        left: calc(40% - 2.25vw);
    }
    #footer-linkedin {
        left: calc(60% - 2.25vw);
    }
    #footer-vimeo {
        left: calc(80% - 2.25vw);
    }
    #footer-giphy {
        left: calc(100% - 2.25vw);
    }
}

@media screen and (max-width: 425px) {
    #footer-instagram {
        left: calc(25% - 3vw);
    }
    #footer-linkedin {
        left: calc(50% - 3vw);
    }
    #footer-vimeo {
        left: calc(75% - 3vw);
    }
    #footer-giphy {
        left: calc(100% - 3vw);
    }
}

@media screen and (max-width: 375px) {
    #footer-text p, #footer-text a {
        font-size: 10px;
    }
    #footer-developedby {
        top: 35%;
    }
    #footer-socials img {
        width: 20px;
        height: 20px;
    }
}