<div id = "viewport">

    <!-- Header -->
    <app-header></app-header>

    <div id = "content">
        <div id = "main-image-container">
            <img src = "../../../assets/project-pages/bbc-radio-one/images/promo.jpg" id = "main-image">
        </div>

        <div class = "text-container">
            <p id = "project-title">
                BBC Radio 1
            </p>
            <p id = "brief-title" class = "bold">
                The brief
            </p>
            <p class = "light">
                Using audio that contrasts to the visuals of an animation to tell
                a deeper story. In this case, showing the reality of a hangover whilst
                listening to pretentious health tips that people pretend they do.
                Working in collaboration with designer Katie Barker.
            </p>
        </div>

        <div class = "text-container">
            <p id = "solution-title" class = "bold">
                The solution
            </p>
            <p id = "solution-text" class = "light">
                A stop motion animation illustrating the expectations vs the
                reality of dealing with a hangover. This is something that could
                be discussed during a BBC Radio 1 segment, that would be promoted
                over social media platforms such as Instagram and Facebook.
            </p>
        </div>

        <div class = "video-container">
            <video class = "video" controls controlsList = "nodownload" disablePictureInPicture poster = "../../../assets/project-pages/bbc-radio-one/images/thumbnail.jpg">
                <source src = "../../../assets/project-pages/bbc-radio-one/videos/promo.mp4" type = "video/mp4">
            </video>
        </div>

        <div id = "comic-container">
            <img src = "../../../assets/project-pages/bbc-radio-one/images/storyboard.jpg" id = "comic-image">
        </div>

        <div class = "video-container">
            <video class = "video" controls controlsList = "nodownload" disablePictureInPicture poster = "../../../assets/project-pages/bbc-radio-one/images/thumbnail2.jpg">
                <source src = "../../../assets/project-pages/bbc-radio-one/videos/making.mp4" type = "video/mp4">
            </video>
        </div>

        <div class = "text-container">
            <p id = "behind-title" class = "bold">
                Behind the scenes
            </p>
            <p class = "light">
                To create this motion graphic, we practiced stop motion techniques
                and experimented with different styles of illustrations and backgrounds.
                The filming process took 20 hours, spanning across 2 days, in order
                to capture all the images. The tripod, monitor display and camera remote were
                essential to keeping the animation frames consistent.
            </p>
        </div>

        <div class = "misc-images" id = "misc-1">
            <img src = "../../../assets/project-pages/bbc-radio-one/images/pic1.gif">
            <img src = "../../../assets/project-pages/bbc-radio-one/images/pic2.jpg">
        </div>

        <div class = "misc-images" id = "misc-2">
            <img src = "../../../assets/project-pages/bbc-radio-one/images/pic3.jpg">
            <img src = "../../../assets/project-pages/bbc-radio-one/images/pic4.gif">
        </div>

        <!-- Footer -->
        <div id = "footer-container">
            <app-footer></app-footer>
        </div>

    </div>

    <div id = "white-bar">
        <a routerLink = "/work" id = "header-logo"><img src = "../../assets/header/logo-dark.gif"></a>
    </div>
    
    <!-- Burger Menu -->
    <app-burger-menu></app-burger-menu>

</div>