/* HEADER */
#header-container {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 75px;
}

/* Text and Scribble Properties */
#header-text {
  position: relative;
  top: 1.25vw;
  right: 3vw;
}

#header-text a {
  float: right;
  text-decoration: none;
  font-family: "Avenir Medium", sans-serif;
  font-size: 17px;
  margin: 8px 15px;
  color: grey;
  text-align: center;
}

.scribble {
  top: 2vw;
  width: max-content;
  height: 34px;
  float: right;
}

#header-text a:hover {
  color: black;
}

#header-logo {
  position: relative;
  top: 1.25vw;
  left: 4vw;
}

#header-logo > img {
  max-width: 10%;
  max-height: 10%;
}

  @media screen and (max-width: 768px) {
    #header-container {
      visibility: hidden;
    }
}