#viewport {
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* INTRO */
#intro-container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f2d2d7;
}

#text-container {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

#welcome {
  position: absolute;
  text-align: center;
  top: 52%;
  width: 100%;
  font-size: 7vw;
  font-family: "GT Walsheim", sans-serif;
  color: #ea4a6a;
  line-height: 200px;
  margin-top: -100px;
  margin-bottom: -100px;
}

#welcome:hover {
  cursor: default;
}

.marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  color: #f2d2d7;
  line-height: 3.5vw;
}
    
.marquee span {
  display: inline-block;
  font-size: 4vw;
  font-family: Gastromond, sans-serif;
  opacity: 0.5;
  text-shadow: -1px -1px 0 #ea4a6a, 1px -1px 0 #ea4a6a, -1px 1px 0 #ea4a6a, 1px 1px 0 #ea4a6a;
}

.left span {
  -moz-animation: scroll_left 12.5s linear infinite;
  -webkit-animation: scroll_left 12.5s linear infinite;
  animation: scroll_left 12.5s linear infinite;

  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.right span {
    -moz-animation: scroll_right 12.5s linear infinite;
    -webkit-animation: scroll_right 12.5s linear infinite;
    animation: scroll_right 12.5s linear infinite;

    -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    }

#text-container:hover span {
  -moz-animation-play-state: running;
  -webkit-animation-play-state: running;
  animation-play-state: running;

  cursor: default;
}

@keyframes scroll_left {
0%   { 
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    }
100% { 
    -moz-transform: translate(-100%, 0);
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0); 
    }
}

@keyframes scroll_right {
0%   { 
    -moz-transform: translate(-100%, 0);
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    }
100% { 
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); 
    }
}

#arrow {
  width: 3vw;
  height: 3vw;
  position: absolute;
  left: calc(50% - 1.5vw);
  top: 80%;

  -moz-animation: arrow 2s linear infinite;
  -webkit-animation: arrow 2s linear infinite;
  animation: arrow 2s linear infinite;

  -moz-animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}

#arrow:hover {
  cursor: pointer;
}

@keyframes arrow {
0%   { 
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    }
50% {
    -moz-transform: translate(0, 40%);
    -webkit-transform: translate(0, 40%);
    transform: translate(0, 40%); 
    }

100% { 
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    }
}



/* BURGER MENU */
#burger-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 100%;
}

#burger-menu {
  position: absolute;
  left: -5%;
  top: 2vw;
  width: 3vw;
  height: 3vw;
}

#check {
  width: 3vw;
  height: 2.5vw;
  position: absolute;
  top: 2vw;
  left: -5.1%;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#burger-menu span {
  position: absolute;
  height: 0.3vw;
  width: 3vw;
  background: #ea4a6a;
  border-radius: 0.5vw;
  opacity: 1;
  left: 0%;
  z-index: 1;

  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/* Burger Bars Positions */
#burger-menu span:nth-child(1)
{
  top: 10%;
}
#burger-menu span:nth-child(2), #burger-menu span:nth-child(3)
{
  top: 40%;
}
#burger-menu span:nth-child(4)
{
  top: 70%;
}

/* Animate Burger Bars */
#burger-container input:checked + #burger-menu > span:nth-child(1)
{
  top: 40%;
  width: 0%;
  left: 50%;
  background: #f2d2d7
}
#burger-container input:checked + #burger-menu > span:nth-child(2)
{
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #f2d2d7;
}
#burger-container input:checked + #burger-menu > span:nth-child(3)
{
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background: #f2d2d7
}
#burger-container input:checked + #burger-menu > span:nth-child(4)
{
  top: 40%;
  width: 0%;
  left: 50%;
  background: #f2d2d7
}

/* Move canvas */
#burger-container input:checked ~ #canvas {
  transform: translate(-100%, 0);
}

/* Canvas */
#canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  background: #ea4a6a;
  -webkit-font-smoothing: antialiased;  /* to stop flickering of text in safari */
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  padding-left: 0;
}

/* Titles Text */
.titles a, .titles label {
  text-decoration: none;
  color: #f2d2d7;
  font-family: "GT Walsheim", sans-serif;
  font-size: 5vw;
  position: absolute;
  width: max-content;
  left: 50%;
  transform: translate(-50%, -50%);
}
.titles label {
  cursor: pointer;
}

.content {
  position: absolute;
  width: 95%;
  height: 50vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Text / Image Positioning */
#burger-intro-text, #burger-intro-scribble {
  top: 18%;
}
#burger-work-text, #burger-work-scribble {
  top: 30%;
}
#burger-play-text {
  top: 42%;
}
#burger-play-scribble {
  top: 43%;
}
#burger-me-text {
  top: 54%;
}
#burger-me-scribble {
  width: 12vw !important;
  height: 8vw !important;
  top: 55%;
}
#email {
  top: 69%;
  font-size: 1.25vw !important;
}

/* Scribble Properties */
.titles img {
  max-width: 100%;
  width: 15vw;
  height: 10vw;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Scribble Hover */
.titles a:hover ~ img {
  opacity: 1;
}
.titles label:hover ~ img {
  opacity: 1;
}

/* Social Icon Properties */
.socials img {
  width: 1.5vw;
  height: 1.5vw;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Social Icon Positions */
#instagram {
  left: 45.5%;
}
#linkedin {
  left: 48.5%;
}
#vimeo {
  left: 51.5%;
}
#giphy {
  left: 54.5%;
}



/* HEADER */
#header-container {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 5vw;
}

#header-container a {
  text-decoration: none;
  font-family: "GT Walsheim", sans-serif;
  font-size: 1vw;
  color: grey;
  width: max-content;
}

#header-container a:hover {
  color: black;
}

/* Text and Scribble Properties */
#header-text {
  position: absolute;
  top: 50%;
  left: 82.5%;
  width: 15%;
  height: 5vw;
  transform: translate(0%, -50%);
}

#header-text img {
  max-width: 100%;
  width: 3.75vw;
  height: 2.5vw;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  top: 50%;
  transform: translate(0%, -50%);
}

.text {
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
}

#header-intro {
  color: black !important;
}
#intro-scribble {
  opacity: 1 !important;
}
#header-intro, #intro-scribble {
  left: 0%;
  cursor: pointer;
}
#header-work, #work-scribble {
  left: 25%;
}
#header-play, #play-scribble {
  left: 50%;
}
#header-me, #me-scribble {
  left: 75%;
}

#intro-scribble {
  left: 1%;
}
#work-scribble {
  left: 27%;
  top: 51% !important;
}
#play-scribble {
  left: 50.5%;
}
#me-scribble {
  left: 74%;
  width: 3vw !important;
  height: 2vw !important;
}

#header-text a:hover ~ img {
  opacity: 1;
}
#header-text label:hover ~ img {
  opacity: 1;
}



/* CONTENT */
#content {
  position: absolute;
  top: calc(100% + 5vw);
  left: 0%;
  width: 100%;
  height: calc(100% - 10vw);
  outline: red solid 2px;
}



/* FOOTER */
#footer-container {
  position: relative;
  top: 200%;
}