<div id = "viewport">
  
  <!-- Intro -->
  <div id = "intro-container" #top>
    <div id = "text-container">
      <p class = "marquee left">
        <span>view work view work view work view work view work&nbsp;</span>
        <span>view work view work view work view work view work&nbsp;</span>
      </p>
      <p class = "marquee right">
        <span>work view work view work view work view work view&nbsp;</span>
        <span>work view work view work view work view work view&nbsp;</span>
      </p>
      <p class = "marquee left">
        <span>view work view work view work view work view work&nbsp;</span>
        <span>view work view work view work view work view work&nbsp;</span>
      </p>
      <p class = "marquee right">
        <span>work view work view work view work view work view&nbsp;</span>
        <span>work view work view work view work view work view&nbsp;</span>
      </p>
    </div>
    <p id = "hello-text">Hello, I'm Alice</p>
    <img id = "arrow" src = "../../assets/navigation/down_arrow.svg" (click) = "scrollTo(work)">
  </div>

  <!-- Burger Menu -->
  <div id = "burger-container">
    <input type = "checkbox" id = "check" (click) = "hideOverflow()"/>
    <div id = "burger-menu">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div id = "canvas">
      <div class = "content">
        <div class = "titles">

          <div id = "burger-intro-div">
            <label for = "check" id = "burger-intro-text"> intro </label>
            <img src = "../../assets/burger-menu/scribbles/intro-scribble.svg" id = "burger-intro-scribble">
          </div>

          <div id = "burger-work-div">
            <a routerLink = "/work" id = "burger-work-text"> work </a>
            <img src = "../../assets/burger-menu/scribbles/work-scribble.svg" id = "burger-work-scribble">
          </div>

          <div id = "burger-play-div">
            <a routerLink = "/play" id = "burger-play-text"> play </a>
            <img src = "../../assets/burger-menu/scribbles/play-scribble.svg" id = "burger-play-scribble">
          </div>

          <div id = "burger-me-div">
            <a routerLink = "/me" id = "burger-me-text"> me </a>
            <img src = "../../assets/burger-menu/scribbles/me-scribble.svg" id = "burger-me-scribble">
          </div>
          <a href = "mailto: alicelhodge@icloud.com" id = "email">alicelhodge@icloud.com</a>
        </div>

        <div class = "socials">
          <a href = "https://www.instagram.com/alicehodgedesign/"><img src = "../../assets/burger-menu/social-icons/instagram.svg" id = "instagram"></a>
          <a href = "https://www.linkedin.com/in/alice-hodge-a88995151/"><img src = "../../assets/burger-menu/social-icons/linkedin.svg" id = "linkedin"></a>
          <a href = "https://vimeo.com/user80054186"><img src = "../../assets/burger-menu/social-icons/vimeo.svg" id = "vimeo"></a>
          <a href = "https://giphy.com/Alicehodgedesign"><img src = "../../assets/burger-menu/social-icons/giphy.svg" id = "giphy"></a>
        </div>
      </div>
    </div>
  </div>

  <!-- Header -->
  <div id = "header-container" #work>
    <div id = "header-text">
      <div id = "intro-div">
        <a (click) = "scrollTo(top)" class = "text" id = header-intro> intro </a>
        <img src = "../../assets/header-scribbles/intro-scribble.svg" id = "intro-scribble">
      </div>
      <div id = "work-div">
        <a routerLink = "/work" class = "text" id = header-work> work </a>
        <img src = "../../assets/header-scribbles/work-scribble.svg" id = "work-scribble">
      </div>
      <div id = "play-div">
        <a routerLink = "/play" class = "text" id = header-play> play </a>
        <img src = "../../assets/header-scribbles/play-scribble.svg" id = "play-scribble">
      </div>
      <div id = "me-div">
        <a routerLink = "/me" class = "text" id = header-me> me </a>
        <img src = "../../assets/header-scribbles/me-scribble.svg" id = "me-scribble">
      </div>
    </div>
  </div>

  <div id = "content-grid">

    <figure id = "left">
      <img src = "../../assets/film-frames/intro-film-frame.png">

      <p id = "left-heading">
        A bit about me...
      </p>

      <p id = "profile" class = "bold">
        Hello, I'm Alice.<br>
        I'm a Designer, Illustrator and Animator.
      </p>

      <p id = "brands" class = "bold">
        Brands I've worked for:
      </p>

      <div id = "carousel-container">
        <app-carousel></app-carousel>
      </div>

      <p id = "left-text" class = "bold">Want to <a routerLink = "/me" id = "linked-text" class = "bold">find out more</a>?</p>

    </figure>

    <figure id = "right">
      <div id = "right-align">
        <p id = "right-heading">Featured Projects</p>

        <a routerLink = "/work/freeriderco" id = "right-image1">
          <img src = "../../assets/featured-projects/freeriderco.jpg"
          onmouseover = "this.src = '../../assets/featured-projects/freeriderco.gif';"
          onmouseout = "this.src = '../../assets/featured-projects/freeriderco.jpg';">
        </a>

        <a routerLink = "/work/all-different-all-normal" id = "right-image2">
          <img src = "../../assets/featured-projects/all-different-all-normal.jpg"
          onmouseover = "this.src = '../../assets/featured-projects/all-different-all-normal.gif';"
          onmouseout = "this.src = '../../assets/featured-projects/all-different-all-normal.jpg';">
        </a>

        <p id = "right-text" class = "bold"><a routerLink = "/work" id = "linked-text" class = "bold">View </a>more projects</p>

      </div>
    </figure>
    
    <!-- Footer -->
    <div id = "footer-container">
      <app-footer></app-footer>
    </div>

  </div>

</div>