#viewport {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  outline: solid green 2px;
}

/* INTRO */
#intro-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f2e2d2;
}

#text-container {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translate(0%, -50%);
}

#hello-text {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 0;
  margin-bottom: 0;
  transform: translate(-50%, -50%);
  width: max-content;
  text-align: center;
  font-size: 7vw;
  font-family: "GT Walsheim", sans-serif;
  color: #e98279;
}

#hello-text:hover {
  cursor: default;
}

.marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  color: #f2e2d2;
  line-height: 3.5vw;
}
    
.marquee span {
  display: inline-block;
  font-size: 4vw;
  font-family: Gastromond, sans-serif;
  opacity: 0.5;
  text-shadow: -1px -1px 0 #e89d95, 1px -1px 0 #e89d95, -1px 1px 0 #e89d95, 1px 1px 0 #e89d95;
}

.left span {
  -moz-animation: scroll_left 12.5s linear infinite;
  -webkit-animation: scroll_left 12.5s linear infinite;
  animation: scroll_left 12.5s linear infinite;

  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.right span {
  -moz-animation: scroll_right 12.5s linear infinite;
  -webkit-animation: scroll_right 12.5s linear infinite;
  animation: scroll_right 12.5s linear infinite;

  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  }

#text-container:hover span {
  -moz-animation-play-state: running;
  -webkit-animation-play-state: running;
  animation-play-state: running;

  cursor: default;
}

@keyframes scroll_left {
0%   { 
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    }
100% { 
    -moz-transform: translate(-100%, 0);
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0); 
    }
}

@keyframes scroll_right {
0%   { 
    -moz-transform: translate(-100%, 0);
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    }
100% { 
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); 
    }
}

#arrow {
  width: 3vw;
  height: 3vw;
  position: absolute;
  left: calc(50% - 1.5vw);
  top: 80%;

  -moz-animation: arrow 2s linear infinite;
  -webkit-animation: arrow 2s linear infinite;
  animation: arrow 2s linear infinite;

  -moz-animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}

#arrow:hover {
  cursor: pointer;
}

@keyframes arrow {
0%   { 
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    }
50% {
    -moz-transform: translate(0, 40%);
    -webkit-transform: translate(0, 40%);
    transform: translate(0, 40%); 
    }

100% { 
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    }
}



/* BURGER MENU */
#burger-menu {
  position: fixed;
  left: 95%;
  top: 2vw;
  width: 3vw;
  height: 3vw;
  z-index: 1;
}

#check {
  position: fixed;
  top: 2vw;
  left: 94.9%;
  width: 3vw;
  height: 2.5vw;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#burger-menu span {
  position: absolute;
  height: 0.3vw;
  width: 3vw;
  background: #ebb59a;
  border-radius: 0.5vw;
  opacity: 1;
  left: 0%;
  z-index: 1;

  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/* Burger Bars Positions */
#burger-menu span:nth-child(1)
{
  top: 10%;
}
#burger-menu span:nth-child(2), #burger-menu span:nth-child(3)
{
  top: 40%;
}
#burger-menu span:nth-child(4)
{
  top: 70%;
}

/* Animate Burger Bars */
#burger-container input:checked + #burger-menu > span:nth-child(1)
{
  top: 40%;
  width: 0%;
  left: 50%;
  background: #ebb59a;
}
#burger-container input:checked + #burger-menu > span:nth-child(2)
{
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #f2e2d2;
}
#burger-container input:checked + #burger-menu > span:nth-child(3)
{
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background: #f2e2d2;
}
#burger-container input:checked + #burger-menu > span:nth-child(4)
{
  top: 40%;
  width: 0%;
  left: 50%;
  background: #ebb59a;
}

/* Move canvas */
#burger-container input:checked ~ #canvas {
  transform: translate(-100%, 0);
}

/* Canvas */
#canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 100%;
  background: #e98279;
  -webkit-font-smoothing: antialiased;  /* to stop flickering of text in safari */
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  padding-left: 0;
}

/* Titles Text */
.titles a, .titles label {
  text-decoration: none;
  color: #f2e2d2;
  font-family: "GT Walsheim", sans-serif;
  font-size: 5vw;
  position: absolute;
  width: max-content;
  left: 50%;
  transform: translate(-50%, -50%);
}
.titles label {
  cursor: pointer;
}

.content {
  position: absolute;
  width: 95%;
  height: 50vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Text / Image Positioning */
#burger-intro-text, #burger-intro-scribble {
  position: relative;
  top: 18%;
}
#burger-work-text, #burger-work-scribble {
  top: 30%;
}
#burger-play-text {
  top: 42%;
}
#burger-play-scribble {
  top: 43%;
}
#burger-me-text {
  top: 54%;
}
#burger-me-scribble {
  width: 12vw !important;
  height: 8vw !important;
  top: 55%;
}
#email {
  top: 69%;
  font-size: 1.25vw !important;
}

/* Scribble Properties */
.titles img {
  max-width: 100%;
  width: 15vw;
  height: 10vw;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Scribble Hover */
.titles a:hover ~ img {
  opacity: 1;
}
.titles label:hover ~ img {
  opacity: 1;
}

/* Social Icon Properties */
.socials img {
  width: 1.5vw;
  height: 1.5vw;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Social Icon Positions */
#instagram {
  left: 45.5%;
}
#linkedin {
  left: 48.5%;
}
#vimeo {
  left: 51.5%;
}
#giphy {
  left: 54.5%;
}



/* CONTENT */
#content-grid {
  position: absolute;
  top: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 0;
  /*outline: blue solid 2px;*/
}

.bold {
  font-family: "GT Walsheim", sans-serif;
  font-size: 1vw;
  color: #474747;
}

#right-align {
  position: relative;
  left: 10%;
}

#left {
  position: relative;
  margin-right: 0;
}

#left img {
  max-width: 75%;
  max-height: 75%;
  margin-left: 3.5vw;
}

#right {
  position: relative;
  margin-left: 5vw;
  margin-right: 0;
}

#right img {
  max-width: 70%;
  max-height: 70%;
  object-fit: cover;
}

#right-image1 > img {
  margin-top: 3vw;
  margin-bottom: 2vw;
}

#right-image2 > img {
  margin-bottom: 0;
}

#left-heading, #right-heading {
  margin-top: 4vw;
  margin-bottom: 0;
  font-family: Gastromond, sans-serif;
  font-size: 2.75vw;
  color: white !important;
  text-shadow: -1px -1px 0 #474747, 1px -1px 0 #474747, -1px 1px 0 #474747, 1px 1px 0 #474747;
}

#left-text {
  margin-top: 7vw;
}

#right-text {
  margin-top: 54px;
  margin-bottom: 0;
}

#linked-text {
  color: #e98279;
}

#left-heading, #profile, #brands, #left-text, #carousel-container {
  margin-left: 5.25vw;
}

#carousel-container {
  position: absolute;
  top: 85%;
  width: 30%;
  margin-left: 6.5vw;
  outline: blue solid 2px;
}



/* FOOTER */
#footer-container {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 5vw;
}



@media screen and (max-width: 1024px) {
  #content-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  #left-heading, #right-heading {
    font-size: 7vw;
    text-align: center;
    margin-left: 0;
  }
  #profile {
    font-size: 4vw !important;
  }
  #profile, #brands {
    text-align: center;
    margin-top: 1vw;
    margin-left: 0;
  }
  .bold {
    font-size: 3vw;
  }
  #right-align {
    left: 0%;
  }
  #left {
    margin-right: 40px;
    margin-left: 40px;
  }
  #right {
    margin-left: 40px;
    margin-right: 40px;
  }
  #left-text, #right-text {
    text-align: center;
  }
  #left-text {
    margin-top: 20vw;
    margin-left: 0;
  }
  #left img, #right-image1 > img, #right-image2 > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vw;
  }
  #right img {
    max-width: 80%;
    max-height: 80%;
  }
  #carousel-container {
    top: 40%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 75%;
    margin: 0;
  }
}