#viewport {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

/* INTRO */
#intro-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f2e2d2;
}

#text-container {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translate(0%, -50%);
}

#hello-text {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 0;
  margin-bottom: 0;
  transform: translate(-50%, -50%);
  width: max-content;
  text-align: center;
  font-size: 125px;
  font-family: "GT Walsheim", sans-serif;
  color: #e98279;
  pointer-events: none;
}

.marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  color: #f2e2d2;
  line-height: 65px;
}
    
.marquee span {
  display: inline-block;
  font-size: 65px;
  font-family: Gastromond, sans-serif;
  opacity: 0.5;
  text-shadow: -1px -1px 0 #e89d95, 1px -1px 0 #e89d95, -1px 1px 0 #e89d95, 1px 1px 0 #e89d95;
}

.left span {
  -moz-animation: scroll_left 12.5s linear infinite;
  -webkit-animation: scroll_left 12.5s linear infinite;
  animation: scroll_left 12.5s linear infinite;

  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.right span {
  -moz-animation: scroll_right 12.5s linear infinite;
  -webkit-animation: scroll_right 12.5s linear infinite;
  animation: scroll_right 12.5s linear infinite;

  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  }

#text-container:hover span {
  -moz-animation-play-state: running;
  -webkit-animation-play-state: running;
  animation-play-state: running;

  cursor: default;
}

@keyframes scroll_left {
0%   { 
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    }
100% { 
    -moz-transform: translate(-100%, 0);
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0); 
    }
}

@keyframes scroll_right {
0%   { 
    -moz-transform: translate(-100%, 0);
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    }
100% { 
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); 
    }
}

#arrow-container {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, 0%);
}

#arrow {
  width: 50px;
  height: 50px;

  -moz-animation: arrow 2s linear infinite;
  -webkit-animation: arrow 2s linear infinite;
  animation: arrow 2s linear infinite;

  -moz-animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}

#arrow:hover {
  cursor: pointer;
}

@keyframes arrow {
0%   { 
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    }
50% {
    -moz-transform: translate(0, 40%);
    -webkit-transform: translate(0, 40%);
    transform: translate(0, 40%); 
    }

100% { 
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    }
}



/* BURGER MENU */
#burger-menu {
  position: fixed;
  left: calc(97.5% - 50px);
  top: 2vw;
  width: 50px;
  height: 50px;
  z-index: 1;
}

#check {
  position: fixed;
  top: 2vw;
  left: calc(97.2% - 50px);
  width: 53px;
  height: 43px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#burger-menu span {
  position: absolute;
  height: 5px;
  width: 50px;
  background: #ebb59a;
  border-radius: 0.5vw;
  opacity: 1;
  left: 0%;
  z-index: 1;

  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/* Burger Bars Positions */
#burger-menu span:nth-child(1)
{
  top: 10%;
}
#burger-menu span:nth-child(2), #burger-menu span:nth-child(3)
{
  top: 40%;
}
#burger-menu span:nth-child(4)
{
  top: 70%;
}

/* Animate Burger Bars */
#burger-container input:checked + #burger-menu > span:nth-child(1)
{
  top: 40%;
  width: 0%;
  left: 50%;
  background: #ebb59a;
}
#burger-container input:checked + #burger-menu > span:nth-child(2)
{
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #f2e2d2;
}
#burger-container input:checked + #burger-menu > span:nth-child(3)
{
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background: #f2e2d2;
}
#burger-container input:checked + #burger-menu > span:nth-child(4)
{
  top: 40%;
  width: 0%;
  left: 50%;
  background: #ebb59a;
}

/* Move canvas */
#burger-container input:checked ~ #canvas {
  transform: translate(-100%, 0);
}

/* Canvas */
#canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 100%;
  background: #e98279;
  -webkit-font-smoothing: antialiased;  /* to stop flickering of text in safari */
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  padding-left: 0;
}

.content {
  position: relative;
  width: 95%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.content > .scribble > a, .content label {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  text-decoration: none;
  color: #f2e2d2;
  font-family: "GT Walsheim", sans-serif;
  font-size: 85px;
  width: max-content;
  display: block;
  margin: auto;
}
.content label {
  cursor: pointer;
}
#email {
  font-size: 22px !important;
  margin-top: 22px;
}

.scribble {
  display: block;
  margin: auto;
}

#scribble1 {
  width: 225px;
  height: 125px;
}
#scribble2 {
  width: 275px;
  height: 125px;
}
#scribble3 {
  width: 250px;
  height: 125px;
}
#scribble4 {
  width: 175px;
  height: 125px;
}
#scribble5 {
  width: 250px;
  height: 45px;
}

#socials {
  position: relative;
  text-align: center;
  margin-top: 22px;
}

#socials > a {
  font-size: 0;
}

#socials img {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 11px;
  margin-left: 11px;
}



/* CONTENT */
#content-grid {
  position: absolute;
  top: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 0;
}

.bold {
  font-family: "GT Walsheim", sans-serif;
  font-size: 20px;
  color: #474747;
}

#right-align {
  position: relative;
  left: 10%;
}

#left {
  position: relative;
  margin-right: 0;
}

#left img {
  width: 75%;
  height: 75%;
  margin-left: 3.5vw;
}

#right {
  position: relative;
  margin-left: 5vw;
  margin-right: 0;
}

#right img {
  width: 75%;
  height: 75%;
  object-fit: cover;
}

#right-image1 > img {
  margin-top: 3vw;
  margin-bottom: 2vw;
}

#right-image2 > img {
  margin-bottom: 0;
}

#left-heading, #right-heading {
  margin-top: 4vw;
  margin-bottom: 0;
  font-family: Gastromond, sans-serif;
  font-size: 2.75vw;
  color: white !important;
  text-shadow: -1px -1px 0 #474747, 1px -1px 0 #474747, -1px 1px 0 #474747, 1px 1px 0 #474747;
}

#left-text {
  margin-top: 7vw;
}

#right-text {
  margin-top: 2vw;
  margin-bottom: 0;
}

#linked-text {
  color: #e98279;
  text-decoration: none;
}

#left-heading, #profile, #brands, #left-text {
  margin-left: 5.25vw;
}

#carousel-container {
  position: absolute;
  top: 83.5%;
  left: 0%;
  width: 30%;
  margin-left: 9.75vw;
}



/* FOOTER */
#footer-container {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 5vw;
}



@media screen and (max-width: 2560px) {
  #carousel-container {
    top: 84%;
  }
}

@media screen and (max-width: 1024px) {
  #content-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  #left-heading, #right-heading {
    font-size: 7vw;
    text-align: center;
    margin-left: 0;
  }
  #profile, #brands, #right-text, #linked-text {
    text-align: center;
    margin-top: 1vw;
    margin-left: 0;
    font-size: 4vw;
  }
  #right-align {
    left: 0%;
  }
  #left {
    margin-right: 40px;
    margin-left: 40px;
  }
  #right {
    margin-left: 40px;
    margin-right: 40px;
  }
  #left-text {
    text-align: center;
    margin-left: 0;
    font-size: 4vw;
    margin-top: 20vw;
  }
  #left img, #right-image1 > img, #right-image2 > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vw;
  }
  #right img {
    width: 80%;
    height: 80%;
  }
  #carousel-container {
    top: 39.5%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 75%;
    margin: 0;
  }
  #hello-text {
    font-size: 100px;
  }
}

@media screen and (max-width: 768px) {
  #arrow {
    width: 6vw;
    height: 6vw;
  }
  #carousel-container {
    top: 39.25%;
  }
  #hello-text {
    font-size: 13vw;
  }
  .marquee {
    line-height: 8.5vw;
  }
  .marquee span {
    font-size: 8.5vw;
  }
  .content > .scribble > a, .content label {
    font-size: 11vw;
  }
  #scribble1 {
    width: 30vw;
    height: 16vw;
  }
  #scribble2 {
    width: 35vw;
    height: 16vw;
  }
  #scribble3 {
    width: 32vw;
    height: 16vw;
  }
  #scribble4 {
    width: 23vw;
    height: 16vw;
  }
  #scribble5 {
    width: 32vw;
    height: 6vw;
  }
  #email {
    font-size: 2.85vw !important;
    margin-top: 2.85vw;
  }
  #socials {
    margin-top: 2.85vw;
  }
  #socials img {
    width: 2.85vw;
    height: 2.85vw;
    margin-left: 1.425vw;
    margin-right: 1.425vw;
  }

  #burger-menu {
    width: 6.5vw;
    height: 6.5vw;
    left: calc(97.5% - 6.5vw);
  }
  #check {
    width: 6.5vw;
    height: 5.6vw;
    left: calc(97% - 6.5vw);
  }
  #burger-menu span {
    height: 0.65vw;
    width: 6.5vw;
  }
}

@media screen and (max-width: 425px) {
  #carousel-container {
    top: 38.5%;
  }
  #check {
    left: calc(96.5% - 6.5vw);
  }
}

@media screen and (max-width: 375px) {
  #left-heading, #right-heading {
    font-size: 6vw;
  }
}