<div id = "container">

  <!-- Header -->
  <div id = "header-container" #work>
    <div id = "header-text">
      <div id = "intro-div">
        <a routerLink = "/intro" class = "text" id = header-intro> intro </a>
        <img src = "../../assets/header-scribbles/intro-scribble.svg" id = "intro-scribble">
      </div>
      <div id = "work-div">
        <a routerLink = "/work" class = "text" id = header-work> work </a>
        <img src = "../../assets/header-scribbles/work-scribble.svg" id = "work-scribble">
      </div>
      <div id = "play-div">
        <a routerLink = "/play" class = "text" id = header-play> play </a>
        <img src = "../../assets/header-scribbles/play-scribble.svg" id = "play-scribble">
      </div>
      <div id = "me-div">
        <a routerLink = "/me" class = "text" id = header-me> me </a>
        <img src = "../../assets/header-scribbles/me-scribble.svg" id = "me-scribble">
      </div>
    </div>
  </div>

  <!-- Project Grid -->
  <div id = "grid-container">
    <figure id = "freeriderco">
      <a routerLink = "/work/freeriderco">
        <img src = "../../assets/featured-projects/freeriderco.jpg"
        
        
        class = "grid-image"></a>
    </figure>

    <figure id = "alldifferent">
      <a routerLink = "/work/all-different-all-normal">
        <img src = "../../assets/featured-projects/all-different-all-normal.jpg"
        
        
        class = "grid-image"></a>
    </figure>

    <figure id = "itsyourtime">
      <a routerLink = "/work/its-your-time">
        <img src = "../../assets/featured-projects/its-your-time.jpg"
        
        
        class = "grid-image"></a>
    </figure>

    <figure id = "bbcradio1">
      <a routerLink = "/work/bbc-radio-1">
        <img src = "../../assets/featured-projects/bbc-radio-1.jpg"
        

        class = "grid-image">
      </a>

    </figure>
    <!-- Footer -->
    <div id = "footer-container">
      <app-footer></app-footer>
    </div>

  </div>
  
</div>

<!-- onmouseover = "this.src = '...';"
      onmouseout = "this.src = '...';" -->