<div id = "viewport">

  <!-- Header -->
  <div id = "header-container">
    <div id = "header-text">
      <div class = "header-scribble">
        <a routerLink = "/me" id = header-me> me </a>
      </div>
      <div class = "header-scribble">
        <a routerLink = "/play" id = header-play> play </a>
      </div>
      <div class = "header-scribble" id = "container-work">
        <a routerLink = "/work" id = header-work> work </a>
      </div>
      <div class = "header-scribble">
        <a routerLink = "/intro" id = header-intro> intro </a>
      </div>
    </div>
  </div>

  <!-- Project Grid -->
  <div id = "grid-container">
    <figure id = "freeriderco">
      <a routerLink = "/work/freeriderco">
        <img src = "../../assets/work-page/freeriderco.jpg"
        onmouseover = "this.src = '../../assets/work-page/freeriderco-hover.jpg';"
        onmouseout = "this.src = '../../assets/work-page/freeriderco.jpg';"
        class = "grid-image"></a>
    </figure>

    <figure id = "alldifferent">
      <a routerLink = "/work/all-different-all-normal">
        <img src = "../../assets/work-page/all-different-all-normal.jpg"
        onmouseover = "this.src = '../../assets/work-page/all-different-all-normal-hover.jpg';"
        onmouseout = "this.src = '../../assets/work-page/all-different-all-normal.jpg';"
        class = "grid-image"></a>
    </figure>

    <figure id = "ee">
      <a routerLink = "/work/ee">
        <img src = "../../assets/work-page/ee.jpg"
        onmouseover = "this.src = '../../assets/work-page/ee-hover.jpg';"
        onmouseout = "this.src = '../../assets/work-page/ee.jpg';"
        class = "grid-image"></a>
    </figure>

    <figure id = "itsyourtime">
      <a routerLink = "/work/its-your-time">
        <img src = "../../assets/work-page/its-your-time.gif"
        onmouseover = "this.src = '../../assets/work-page/its-your-time-hover.jpg';"
        onmouseout = "this.src = '../../assets/work-page/its-your-time.gif';"
        class = "grid-image"></a>
    </figure>

    <figure id = "bbcradio1">
      <a routerLink = "/work/bbc-radio-1">
        <img src = "../../assets/work-page/bbc-radio-1.jpg"
        onmouseover = "this.src = '../../assets/work-page/bbc-radio-1-hover.jpg';"
        onmouseout = "this.src = '../../assets/work-page/bbc-radio-1.jpg';"
        class = "grid-image"></a>
    </figure>

    <figure id = "pending">
      <a routerLink = "/work/pending">
        <img src = "../../assets/work-page/lola-waves.jpg"
        onmouseover = "this.src = '../../assets/work-page/lola-waves-hover.jpg';"
        onmouseout = "this.src = '../../assets/work-page/lola-waves.jpg';"
        class = "grid-image"></a>
    </figure>

    
    <!-- Footer -->
    <div id = "footer-container">
      <app-footer></app-footer>
    </div>

  </div>

  <div id = "white-bar">
    <a routerLink = "/work" id = "header-logo"><img src = "../../assets/header/logo-dark.gif"></a>
  </div>

  <!-- Burger Menu -->
  <div id = "burger-container">
    <input type = "checkbox" id = "check" (click) = "hideOverflow()"/>
    <div id = "burger-menu">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div id = "canvas">
      <div class = "content">

        <div class = "scribble" id = "scribble1">
          <a routerLink = "/intro" id = "burger-intro-text"> intro </a>
        </div>
        <div class = "scribble" id = "scribble2">
          <label for = "check" id = "burger-work-text"> work </label>
        </div>
        <div class = "scribble" id = "scribble3">
          <a routerLink = "/play" id = "burger-play-text"> play </a>
        </div>
        <div class = "scribble" id = "scribble4">
          <a routerLink = "/me" id = "burger-me-text"> me </a>
        </div>
        <div class = "scribble" id = "scribble5">
          <a href = "mailto: alicelhodge@icloud.com" id = "email">alicelhodge@icloud.com</a>
        </div>

        <div id = "socials">
          <a href = "https://www.instagram.com/alicehodgedesign/"><img src = "../../assets/burger-menu/social-icons/instagram.svg"
            onmouseover = "this.src = '../../assets/burger-menu/social-icons/instagram_white.svg';"
            onmouseout = "this.src = '../../assets/burger-menu/social-icons/instagram.svg';" id = "instagram"></a>
          <a href = "https://www.linkedin.com/in/alice-hodge-a88995151/"><img src = "../../assets/burger-menu/social-icons/linkedin.svg"
            onmouseover = "this.src = '../../assets/burger-menu/social-icons/linkedin_white.svg';"
            onmouseout = "this.src = '../../assets/burger-menu/social-icons/linkedin.svg';" id = "linkedin"></a>
          <a href = "https://vimeo.com/user80054186"><img src = "../../assets/burger-menu/social-icons/vimeo.svg"
            onmouseover = "this.src = '../../assets/burger-menu/social-icons/vimeo_white.svg';"
            onmouseout = "this.src = '../../assets/burger-menu/social-icons/vimeo.svg';" id = "vimeo"></a>
          <a href = "https://giphy.com/Alicehodgedesign"><img src = "../../assets/burger-menu/social-icons/giphy.svg"
            onmouseover = "this.src = '../../assets/burger-menu/social-icons/giphy_white.svg';"
            onmouseout = "this.src = '../../assets/burger-menu/social-icons/giphy.svg';" id = "giphy"></a>
        </div>
      </div>
    </div>
  </div>
  
</div>