#viewport {
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

/* HEADER */
#header-container {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 5vw;
  /*outline: red solid 2px;*/
}

#header-container a {
  text-decoration: none;
  font-family: "GT Walsheim", sans-serif;
  font-size: 1vw;
  color: grey;
  width: max-content;
}

#header-container a:hover {
  color: black;
}

/* Text and Scribble Properties */
#header-text {
  position: absolute;
  top: 50%;
  left: 82.5%;
  width: 15%;
  height: 5vw;
  transform: translate(0%, -50%);
}

#header-text img {
  max-width: 100%;
  width: 3.75vw;
  height: 2.5vw;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  top: 50%;
  transform: translate(0%, -50%);
}

.text {
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
}

#header-intro, #intro-scribble {
  left: 0%;
  cursor: pointer;
}
#header-work, #work-scribble {
  left: 25%;
}
#header-play, #play-scribble {
  left: 50%;
}
#header-me, #me-scribble {
  left: 75%;
}
#header-me {
  color: black !important;
}
#me-scribble {
  opacity: 1 !important;
}

#intro-scribble {
  left: 1%;
}
#work-scribble {
  left: 27%;
  top: 51% !important;
}
#play-scribble {
  left: 50.5%;
}
#me-scribble {
  left: 74%;
  width: 3vw !important;
  height: 2vw !important;
}

#header-text a:hover ~ img {
  opacity: 1;
}
#header-text label:hover ~ img {
  opacity: 1;
}



/* CONTENT */
#content-grid {
  position: absolute;
  top: 5vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 0;

  outline: purple solid 2px;
}

#filmframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#right {
  position: relative;
  outline: green solid 2px;
}

.bold {
  font-family: "GT Walsheim", sans-serif;
  font-size: 1.5vw;
  color: #474747;
}

.light {
  font-family: "GT Walsheim Light", sans-serif;
  font-size: 1.1vw;
  color: #474747;
}

#content-grid p {
  margin: 0;
}

#heading {
  position: absolute;
  top: 12.5%;
  left: 0%;
  width: 100%;

  font-family: Gastromond, sans-serif;
  font-size: 3.5vw;
  color: white !important;
  text-shadow: -1px -1px 0 #474747, 1px -1px 0 #474747, -1px 1px 0 #474747, 1px 1px 0 #474747;

  /*outline: red solid 2px;*/
}

#profile {
  position: absolute;
  top: 22.5%;
  left: 0%;
  width: 100%;

  font-size: 2vw !important;

  /*outline: red solid 2px;*/
}

#experience-title {
  position: absolute;
  top: 32.5%;
  left: 0%;
  width: 50%;

  outline: red solid 2px;
}
#experience {
  position: absolute;
  top: 37.5%;
  left: 0%;
  width: 50%;

  outline: red solid 2px;
}

#education-title {
  position: absolute;
  top: 32.5%;
  left: 55%;
  width: 45%;
  
  outline: red solid 2px;
}
#education {
  position: absolute;
  top: 37.5%;
  left: 55%;
  width: 45%;
  
  outline: red solid 2px;
}

#brands {
  position: absolute;
  top: 62.5%;
  left: 0%;
  width: 100%;

  /*outline: red solid 2px;*/
}

#carousel-container {
  position: absolute;
  top: 67.5%;
  left: 0%;
  width: 100%;
  outline: red solid 2px;
}



/* FOOTER */
#footer-container {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 5vw;
}



/* BURGER MENU */
#burger-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 100%;
  visibility: hidden;
}

#burger-menu {
  position: absolute;
  left: -5%;
  top: 2vw;
  width: 3vw;
  height: 3vw;
}

#check {
  width: 3vw;
  height: 2.5vw;
  position: absolute;
  top: 2vw;
  left: -5.1%;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#burger-menu span {
  position: absolute;
  height: 0.3vw;
  width: 3vw;
  background: #ea4a6a;
  border-radius: 0.5vw;
  opacity: 1;
  left: 0%;
  z-index: 1;

  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/* Burger Bars Positions */
#burger-menu span:nth-child(1)
{
  top: 10%;
}
#burger-menu span:nth-child(2), #burger-menu span:nth-child(3)
{
  top: 40%;
}
#burger-menu span:nth-child(4)
{
  top: 70%;
}

/* Animate Burger Bars */
#burger-container input:checked + #burger-menu > span:nth-child(1)
{
  top: 40%;
  width: 0%;
  left: 50%;
  background: #f2d2d7
}
#burger-container input:checked + #burger-menu > span:nth-child(2)
{
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #f2d2d7;
}
#burger-container input:checked + #burger-menu > span:nth-child(3)
{
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background: #f2d2d7
}
#burger-container input:checked + #burger-menu > span:nth-child(4)
{
  top: 40%;
  width: 0%;
  left: 50%;
  background: #f2d2d7
}

/* Move canvas */
#burger-container input:checked ~ #canvas {
  transform: translate(-100%, 0);
}

/* Canvas */
#canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  background: #ea4a6a;
  -webkit-font-smoothing: antialiased;  /* to stop flickering of text in safari */
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  padding-left: 0;
}

/* Titles Text */
.titles a, .titles label {
  text-decoration: none;
  color: #f2d2d7;
  font-family: "GT Walsheim", sans-serif;
  font-size: 5vw;
  position: absolute;
  width: max-content;
  left: 50%;
  transform: translate(-50%, -50%);
}
.titles label {
  cursor: pointer;
}

.content {
  position: absolute;
  width: 95%;
  height: 50vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Text / Image Positioning */
#burger-intro-text, #burger-intro-scribble {
  top: 18%;
}
#burger-work-text, #burger-work-scribble {
  top: 30%;
}
#burger-play-text {
  top: 42%;
}
#burger-play-scribble {
  top: 43%;
}
#burger-me-text {
  top: 54%;
}
#burger-me-scribble {
  width: 12vw !important;
  height: 8vw !important;
  top: 55%;
}
#email {
  top: 69%;
  font-size: 1.25vw !important;
}

/* Scribble Properties */
.titles img {
  max-width: 100%;
  width: 15vw;
  height: 10vw;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Scribble Hover */
.titles a:hover ~ img {
  opacity: 1;
}
.titles label:hover ~ img {
  opacity: 1;
}

/* Social Icon Properties */
.socials img {
  width: 1.5vw;
  height: 1.5vw;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Social Icon Positions */
#instagram {
  left: 45.5%;
}
#linkedin {
  left: 48.5%;
}
#vimeo {
  left: 51.5%;
}
#giphy {
  left: 54.5%;
}



@media screen and (max-width: 1024px) {
  #content-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.75fr;
  }
  #heading {
    font-size: 7vw;
    top: 0%;
  }
  #profile {
    font-size: 4vw !important;
    top: 15%;
  }
  #experience-title {
    top: 35%;
  }
  #experience {
    top: 40%;
  }
  #education-title {
    top: 35%;
    left: 52.5%;
  }
  #education {
    top: 40%;
    width: 50%;
    left: 52.5%;
  }
  #brands {
    top: 80%;
  }
  #carousel-container {
    top: 85%;
  }
  .bold {
    font-size: 3vw;
  }
  .light {
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 768px) {
  #header-container {
    visibility: hidden;
  }
  #burger-container {
    visibility: visible;
  }
}

@media screen and (max-width: 500px) {
  #heading {
    font-size: 6.45vw;
  }
  #profile {
    font-size: 3.5vw !important;
  }
  .bold {
    font-size: 2.75vw;
  }
  .light {
    font-size: 2.25vw;
  }
}