#viewport {
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

/* HEADER */
#header-container {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 5vw;
}

/* Text and Scribble Properties */
#header-text {
  position: relative;
  top: 1.25vw;
  right: 3vw;
}

#header-text a {
  float: right;
  text-decoration: none;
  font-family: "GT Walsheim", sans-serif;
  font-size: 17px;
  margin: 8px 15px;
  color: grey;
  text-align: center;
}

.header-scribble {
  top: 2vw;
  width: max-content;
  height: 34px;
  float: right;
}

#header-text a:hover {
  color: black;
}

#header-me {
  color: black !important;
}
#container-me {
  background: url(../../assets/header/scribbles/me-scribble.svg) no-repeat;
}

#header-logo {
  position: relative;
  top: 1.25vw;
  left: 4vw;
}

#header-logo > img {
  width: 175px;
}




/* CONTENT */
#content-grid {
  position: absolute;
  top: 75px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 0;
  width: 100%;
}

.light {
  font-family: "GT Walsheim Light", sans-serif;
  font-size: 1vw;
  color: #474747;
}

.bold {
  font-family: "GT Walsheim", sans-serif;
  font-size: 1.25vw;
  color: #474747;
}

#filmframe {
  width: 80%;
  height: 80%;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#right {
  position: relative;
}

#right a {
  text-decoration: none;
  font-family: "GT Walsheim Light", sans-serif;
  color: #474747;
}

#right a:hover {
  color: #e98279;
}

#heading {
  margin-bottom: 0;
  margin-top: 5vw;
  font-family: Gastromond, sans-serif;
  font-size: 3vw;
  color: white !important;
  text-shadow: -1px -1px 0 #474747, 1px -1px 0 #474747, -1px 1px 0 #474747, 1px 1px 0 #474747;
}

#profile {
  font-size: 1.5vw !important;
}

#experience, #education {
  display: inline-block;
  vertical-align: top;
}

#education {
  margin-left: 40px;
}

#experience-title, #education-title {
  margin-bottom: 0;
}

#education-text-1 {
  line-height: 1.35vw;
}

#carousel-container {
  position: absolute;
  top: 70%;
  left: calc(50% + 75px);
  width: 35%;
}


/* FOOTER */
#footer-container {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 5vw;
}



/* BURGER MENU */
#burger-container {
  visibility: hidden;
}

#burger-menu {
  position: fixed;
  left: calc(97.5% - 6.5vw);
  top: 2vw;
  width: 6.5vw;
  height: 6.5vw;
  z-index: 1;
}

#check {
  position: fixed;
  top: 2vw;
  left: calc(97% - 6.5vw);
  width: 6.5vw;
  height: 5.6vw;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#burger-menu span {
  position: absolute;
  height: 0.65vw;
  width: 6.5vw;
  background: #ebb59a;
  border-radius: 0.5vw;
  opacity: 1;
  left: 0%;
  z-index: 1;

  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/* Burger Bars Positions */
#burger-menu span:nth-child(1)
{
  top: 10%;
}
#burger-menu span:nth-child(2), #burger-menu span:nth-child(3)
{
  top: 40%;
}
#burger-menu span:nth-child(4)
{
  top: 70%;
}

/* Animate Burger Bars */
#burger-container input:checked + #burger-menu > span:nth-child(1)
{
  top: 40%;
  width: 0%;
  left: 50%;
  background: #ebb59a;
}
#burger-container input:checked + #burger-menu > span:nth-child(2)
{
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #f2e2d2;
}
#burger-container input:checked + #burger-menu > span:nth-child(3)
{
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background: #f2e2d2;
}
#burger-container input:checked + #burger-menu > span:nth-child(4)
{
  top: 40%;
  width: 0%;
  left: 50%;
  background: #ebb59a;
}

/* Move canvas */
#burger-container input:checked ~ #canvas {
  transform: translate(-100%, 0);
}

/* Canvas */
#canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 100%;
  background: #e98279;
  -webkit-font-smoothing: antialiased;  /* to stop flickering of text in safari */
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  padding-left: 0;
}

.content {
  position: relative;
  width: 95%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.content > .scribble > a, .content label {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  text-decoration: none;
  color: #f2e2d2;
  font-family: "GT Walsheim", sans-serif;
  font-size: 11vw;
  width: max-content;
  display: block;
  margin: auto;
}
.content label {
  cursor: pointer;
}
#email {
  font-size: 2.85vw !important;
  margin-top: 2.85vw;
}

.scribble {
  display: block;
  margin: auto;
}

#scribble1 {
  width: 30vw;
  height: 16vw;
}
#scribble2 {
  width: 35vw;
  height: 16vw;
}
#scribble3 {
  width: 32vw;
  height: 16vw;
}
#scribble4 {
  width: 23vw;
  height: 16vw;
}
#scribble5 {
  width: 32vw;
  height: 6vw;
}

#socials {
  position: relative;
  text-align: center;
  margin-top: 2.85vw;
}

#socials > a {
  font-size: 0;
}

#socials img {
  display: inline-block;
  width: 2.85vw;
  height: 2.85vw;
  margin-left: 1.425vw;
  margin-right: 1.425vw;
}



@media screen and (max-width: 1024px) {
  #content-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.75fr;
  }
  #heading {
    font-size: 7vw;
  }
  #profile {
    font-size: 4vw !important;
  }
  #brands {
    margin-top: 4vw;
  }
  .bold {
    font-size: 2.75vw;
  }
  .light {
    font-size: 2.25vw;
  }
  #education-text-1 {
    line-height: 3.03vw;
  }
  #right {
    margin-right: 0;
    margin-left: 80px;
  }
  #carousel-container {
    top: 97%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 78%;
  }
  #footer-container {
    height: 20vw;
  }
}

@media screen and (max-width: 768px) {
  #header-container {
    visibility: hidden;
  }
  #burger-container {
    visibility: visible;
  }
  #content-grid {
    top: 10vw;
  }
  #right {
    margin-left: 60px;
  }
  #carousel-container {
    width: 76%;
  }
  #footer-container {
    height: 20vw;
  }
  #header-logo {
    top: 1.25vw;
    left: 4vw;
  }
  #header-logo > img {
    width: 22.5%;
  }
  #white-bar {
    position: fixed;
    height: 10vw;
    width: 100%;
    background-color: white;
  }
}

@media screen and (max-width: 565px) {
  #education {
    margin-left: 20px;
  }
}

@media screen and (max-width: 500px) {
  #heading {
    font-size: 6.45vw;
  }
  #profile {
    font-size: 3.5vw !important;
  }
}

@media screen and (max-width: 475px) {
  .bold {
    font-size: 2.5vw;
  }
  .light {
    font-size: 2vw;
  }
  #education-text-1 {
    line-height: 2.7vw;
  }
}

@media screen and (max-width: 425px) {
  figure {
    margin: 0;
  }
  #email {
    font-size: 3.125vw !important;
  }
  #right {
    display: block;
    margin: 5%;
  }
  #carousel-container {
    width: 75%;
    top: 98%;
  }
  #experience, #education {
    display: inline;
  }
  .bold {
    font-size: 5.5vw;
  }
  .light {
    font-size: 4.5vw;
  }
  #heading {
    position: absolute;
    top: -25%;
    font-size: 7.5vw;
  }
  #profile {
    position: absolute;
    top: -14%;
    font-size: 4vw !important;
  }
  #education-title {
    margin-top: 0;
  }
  #education-text-1 {
    line-height: 5.5vw;
  }
  #experience-title {
    margin-top: 0;
  }
  #experience-text {
    margin-bottom: 0;
  }
  #brands {
    margin-top: 0;
    margin-bottom: 0;
  }
  #header-logo {
    top: 1.75vw;
    left: 4.75vw;
  }
  #check {
    left: calc(96.5% - 6.5vw);
  }
}