<div id = "viewport">

  <!-- Header -->
  <div id = "header-container">
    <div id = "header-text">
      <div class = "header-scribble" id = "container-me">
        <a routerLink = "/me" id = header-me> me </a>
      </div>
      <div class = "header-scribble">
        <a routerLink = "/play" id = header-play> play </a>
      </div>
      <div class = "header-scribble">
        <a routerLink = "/work" id = header-work> work </a>
      </div>
      <div class = "header-scribble">
        <a routerLink = "/intro" id = header-intro> intro </a>
      </div>
    </div>
  </div>

  <div id = "content-grid">

    <div id = "left">
        <img src = "../../assets/film-frames/me-film-frame.png" id = "filmframe">
    </div>

    <div id = "right">

      <p id = "heading">A bit more about me...</p>

      <p id = "profile" class = "bold">
        Designer, Illustrator and Animator.<br>
        I love instagram gifs, house plants and fitness.
      </p>
      
      <div id = "experience">
        <p id = "experience-title" class = "bold">
          Experience:<br>
        </p>
        <p id = "experience-text" class = "light">
          Designer at <a href = "https://www.sideshowagency.com/"> Sideshow</a> (2019 - Present)<br><br>
          Creative Intern at <a href = "https://www.bartleboglehegarty.com/"> BBH</a> (2019)<br><br>
          Creative Intern at <a href = "https://www.aprilsix.com/"> RLA Group</a> (2018)<br><br>
          Creative Intern at <a href = "https://www.emeraldcolour.com/"> Emerald Colour</a> (2018)<br><br>
          Creative Intern at <a href = "https://amayse.com/"> Amayse Ltd</a> (2015)
        </p>
      </div>

      <div id = "education">
        <p id = "education-title" class = "bold">
          Education & Awards:<br>
        </p>
        <p id = "education-text-1" class = "light">
          BA (Hons) Graphic Design:<br>
          <a href = "https://aub.ac.uk/"> Arts University Bournemouth</a> Graduate<br>
          with First Class Honours<br>
        </p>
        <p class = "light">
          350+ million <a href = "https://giphy.com/alicehodgedesign"> Instagram GIF</a> views<br><br>
          <a href = "https://www.creative-conscience.org.uk/shortlisted-entries/"> Creative Conscience</a> Award Shortlist
        </p>
      </div>

      <p id = "brands" class = "bold">
        Brands I've worked for:
      </p>

      <video id = "carousel-video" loop autoplay playsinline>
        <source src = "../../assets/carousel/carousel.mp4" type = "video/mp4">
      </video>
      
    </div>

    <!-- Footer -->
    <div id = "footer-container">
      <app-footer></app-footer>
    </div>

  </div>

  <div id = "white-bar">
    <a routerLink = "/work" id = "header-logo"><img src = "../../assets/header/logo-dark.gif"></a>
  </div>

  <!-- Burger Menu -->
  <div id = "burger-container">
    <input type = "checkbox" id = "check" (click) = "hideOverflow()"/>
    <div id = "burger-menu">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div id = "canvas">
      <div class = "content">

        <div class = "scribble" id = "scribble1">
          <a routerLink = "/intro" id = "burger-intro-text"> intro </a>
        </div>
        <div class = "scribble" id = "scribble2">
          <a routerLink = "/work" id = "burger-work-text"> work </a>
        </div>
        <div class = "scribble" id = "scribble3">
          <a routerLink = "/play" id = "burger-play-text"> play </a>
        </div>
        <div class = "scribble" id = "scribble4">
          <label for = "check" id = "burger-me-text"> me </label>
        </div>
        <div class = "scribble" id = "scribble5">
          <a href = "mailto: alicelhodge@icloud.com" id = "email">alicelhodge@icloud.com</a>
        </div>

        <div id = "socials">
          <a href = "https://www.instagram.com/alicehodgedesign/"><img src = "../../assets/burger-menu/social-icons/instagram.svg"
            onmouseover = "this.src = '../../assets/burger-menu/social-icons/instagram_white.svg';"
            onmouseout = "this.src = '../../assets/burger-menu/social-icons/instagram.svg';" id = "instagram"></a>
          <a href = "https://www.linkedin.com/in/alice-hodge-a88995151/"><img src = "../../assets/burger-menu/social-icons/linkedin.svg"
            onmouseover = "this.src = '../../assets/burger-menu/social-icons/linkedin_white.svg';"
            onmouseout = "this.src = '../../assets/burger-menu/social-icons/linkedin.svg';" id = "linkedin"></a>
          <a href = "https://vimeo.com/user80054186"><img src = "../../assets/burger-menu/social-icons/vimeo.svg"
            onmouseover = "this.src = '../../assets/burger-menu/social-icons/vimeo_white.svg';"
            onmouseout = "this.src = '../../assets/burger-menu/social-icons/vimeo.svg';" id = "vimeo"></a>
          <a href = "https://giphy.com/Alicehodgedesign"><img src = "../../assets/burger-menu/social-icons/giphy.svg"
            onmouseover = "this.src = '../../assets/burger-menu/social-icons/giphy_white.svg';"
            onmouseout = "this.src = '../../assets/burger-menu/social-icons/giphy.svg';" id = "giphy"></a>
        </div>
      </div>
    </div>
  </div>

</div>