<div id = "container">

  <!-- Header -->
  <div id = "header-container" #work>
    <div id = "header-text">
      <div id = "intro-div">
        <a routerLink = "/intro" class = "text" id = header-intro> intro </a>
        <img src = "../../assets/header-scribbles/intro-scribble.svg" id = "intro-scribble">
      </div>
      <div id = "work-div">
        <a routerLink = "/work" class = "text" id = header-work> work </a>
        <img src = "../../assets/header-scribbles/work-scribble.svg" id = "work-scribble">
      </div>
      <div id = "play-div">
        <a routerLink = "/play" class = "text" id = header-play> play </a>
        <img src = "../../assets/header-scribbles/play-scribble.svg" id = "play-scribble">
      </div>
      <div id = "me-div">
        <a routerLink = "/me" class = "text" id = header-me> me </a>
        <img src = "../../assets/header-scribbles/me-scribble.svg" id = "me-scribble">
      </div>
    </div>
  </div>

  <div id = "content-grid">

    <div id = "left">
        <img src = "../../assets/me-page/film-frames/both.png" id = "filmframe">
    </div>

    <div id = "right">
      <div id = "heading">
        <p>A bit more about me...</p>
      </div>

      <div id = "profile">
        <p class = "bold"> Designer, Illustrator and Animator.<br>
          I love instagram gifs, house plants and fitness.
        </p>
      </div>

      <div id = "list-grid">
        <div id = "experience">
          <p class = "bold">Experience:<br></p><br>
          <p class = "light">Designer at sideshow (2019 - Present)<br></p><br>
          <p class = "light">Creative Intern at BBH (2019)<br></p><br>
          <p class = "light">Creative Intern at RLA Group (2018)<br></p><br>
          <p class = "light">Creative Intern at Emerald Colour (2018)<br></p><br>
          <p class = "light">Creative Intern at Amayse Ltd (2015)</p>
        </div>

        <div id = "education">
          <p class = "bold">Education & Awards:<br></p><br>
          <p class = "light">
            BA (Hons) Graphic Design:<br>
            Arts University Bournemouth Graduate<br>
            with First Class Honours<br>
          </p><br>
          <p class = "light">145 million Instagram GIF views<br><br>
          <p class = "light">Creative Conscience Award Shortlist</p>
        </div>
      </div>

      <div id = "brands">
        <p class = "bold">Brands I've worked for:</p>
      </div>

      <div id = "carousel">

      </div>

    </div>

  </div>

</div>