#viewport {
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

/* HEADER */
#header-container {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 5vw;
}

#header-container a {
  text-decoration: none;
  font-family: "GT Walsheim", sans-serif;
  font-size: 1vw;
  color: grey;
  width: max-content;
}

#header-container a:hover {
  color: black;
}

#header-logo {
  position: relative;
  top: 1.25vw;
  left: 4vw;
}

#header-logo > img {
  max-width: 10%;
  max-height: 10%;
}

/* Text and Scribble Properties */
#header-text {
  position: absolute;
  top: 50%;
  left: 82.5%;
  width: 15%;
  height: 5vw;
  transform: translate(0%, -50%);
}

#header-text img {
  max-width: 100%;
  width: 3.75vw;
  height: 2.5vw;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  top: 50%;
  transform: translate(0%, -50%);
}

.text {
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
}

#header-intro, #intro-scribble {
  left: 0%;
  cursor: pointer;
}
#header-work, #work-scribble {
  left: 25%;
}
#header-play, #play-scribble {
  left: 50%;
}
#header-me, #me-scribble {
  left: 75%;
}
#header-me {
  color: black !important;
}
#me-scribble {
  opacity: 1 !important;
}

#intro-scribble {
  left: 1%;
}
#work-scribble {
  left: 27%;
  top: 51% !important;
}
#play-scribble {
  left: 50.5%;
}
#me-scribble {
  left: 74%;
  width: 3vw !important;
  height: 2vw !important;
}

#header-text a:hover ~ img {
  opacity: 1;
}
#header-text label:hover ~ img {
  opacity: 1;
}



/* CONTENT */
#content-grid {
  position: absolute;
  top: 5vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 0;
}

.light {
  font-family: "GT Walsheim Light", sans-serif;
  font-size: 1vw;
  color: #474747;
}

.bold {
  font-family: "GT Walsheim", sans-serif;
  font-size: 1.25vw;
  color: #474747;
}

#filmframe {
  width: 80%;
  height: 80%;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#right {
  position: relative;
}

#right a {
  text-decoration: none;
  font-family: "GT Walsheim Light", sans-serif;
  color: #474747;
}

#right a:hover {
  color: #e98279;
}

#heading {
  margin-bottom: 0;
  margin-top: 5vw;
  font-family: Gastromond, sans-serif;
  font-size: 3vw;
  color: white !important;
  text-shadow: -1px -1px 0 #474747, 1px -1px 0 #474747, -1px 1px 0 #474747, 1px 1px 0 #474747;
}

#profile {
  font-size: 1.5vw !important;
}

#experience, #education {
  display: inline-block;
  vertical-align: top;
}

#education {
  margin-left: 40px;
}

#experience-title, #education-title {
  margin-bottom: 0;
}

#education-text-1 {
  line-height: 1.35vw;
}

#carousel-container {
  position: absolute;
  top: 70%;
  left: calc(50% + 75px);
  width: 35%;
}


/* FOOTER */
#footer-container {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 5vw;
}



/* BURGER MENU */
#burger-container {
  visibility: hidden;
}

#burger-menu {
  position: fixed;
  left: 95%;
  top: 1.5vw;
  width: 3vw;
  height: 3vw;
  z-index: 1;
}

#check {
  position: fixed;
  top: 1.5vw;
  left: 94.9%;
  width: 3vw;
  height: 2.5vw;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#burger-menu span {
  position: absolute;
  height: 0.3vw;
  width: 3vw;
  background: #ebb59a;
  border-radius: 0.5vw;
  opacity: 1;
  left: 0%;
  z-index: 1;

  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/* Burger Bars Positions */
#burger-menu span:nth-child(1)
{
  top: 10%;
}
#burger-menu span:nth-child(2), #burger-menu span:nth-child(3)
{
  top: 40%;
}
#burger-menu span:nth-child(4)
{
  top: 70%;
}

/* Animate Burger Bars */
#burger-container input:checked + #burger-menu > span:nth-child(1)
{
  top: 40%;
  width: 0%;
  left: 50%;
  background: #ebb59a
}
#burger-container input:checked + #burger-menu > span:nth-child(2)
{
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #f2e2d2;
}
#burger-container input:checked + #burger-menu > span:nth-child(3)
{
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background: #f2e2d2
}
#burger-container input:checked + #burger-menu > span:nth-child(4)
{
  top: 40%;
  width: 0%;
  left: 50%;
  background: #ebb59a
}

/* Move canvas */
#burger-container input:checked ~ #canvas {
  transform: translate(-100%, 0);
}

/* Canvas */
#canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 100%;
  background: #e98279;
  -webkit-font-smoothing: antialiased;  /* to stop flickering of text in safari */
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  padding-left: 0;
}

/* Titles Text */
.titles a, .titles label {
  text-decoration: none;
  color: #f2e2d2;
  font-family: "GT Walsheim", sans-serif;
  font-size: 5vw;
  position: absolute;
  width: max-content;
  left: 50%;
  transform: translate(-50%, -50%);
}
.titles label {
  cursor: pointer;
}

.content {
  position: absolute;
  width: 95%;
  height: 50vw;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
}

/* Text / Image Positioning */
#burger-intro-text, #burger-intro-scribble {
  top: 18%;
}
#burger-work-text, #burger-work-scribble {
  top: 30%;
}
#burger-play-text {
  top: 42%;
}
#burger-play-scribble {
  top: 43%;
}
#burger-me-text {
  top: 54%;
}
#burger-me-scribble {
  width: 12vw !important;
  height: 8vw !important;
  top: 55%;
}
#email {
  top: 69%;
  font-size: 1.25vw !important;
}

/* Scribble Properties */
.titles img {
  max-width: 100%;
  width: 15vw;
  height: 10vw;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Scribble Hover */
.titles a:hover ~ img {
  opacity: 1;
}
.titles label:hover ~ img {
  opacity: 1;
}

/* Social Icon Properties */
.socials img {
  width: 1.5vw;
  height: 1.5vw;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Social Icon Positions */
#instagram {
  left: 45.5%;
}
#linkedin {
  left: 48.5%;
}
#vimeo {
  left: 51.5%;
}
#giphy {
  left: 54.5%;
}



@media screen and (max-width: 1024px) {
  #content-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.75fr;
  }
  #heading {
    font-size: 7vw;
  }
  #profile {
    font-size: 4vw !important;
  }
  #brands {
    margin-top: 4vw;
  }
  .bold {
    font-size: 2.75vw;
  }
  .light {
    font-size: 2.25vw;
  }
  #education-text-1 {
    line-height: 3.03vw;
  }
  #right {
    margin-right: 0;
    margin-left: 80px;
  }
  #carousel-container {
    top: 97%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 78%;
  }
  #footer-container {
    height: 15vw;
  }
}

@media screen and (max-width: 768px) {
  #header-container {
    visibility: hidden;
  }
  #burger-container {
    visibility: visible;
  }
  #header-logo {
    top: 1.25vw;
  }
  #header-logo > img {
    max-width: 30%;
    max-height: 30%;
  }
  #content-grid {
    margin-top: 4vw;
  }
  #burger-menu {
    width: 6vw;
    height: 6vw;
    left: 91%;
  }
  #check {
    left: 90.5%;
    width: 6vw;
    height: 5vw;
  }
  #burger-menu span {
    height: 0.6vw;
    width: 6vw;
  }
  .content {
    height: 100vw;
  }
  .titles a, .titles label {
    font-size: 10vw;
  }
  .titles img {
    width: 30vw;
    height: 20vw;
  }
  #burger-me-scribble {
    width: 24vw !important;
    height: 16vw !important;
  }
  #email {
    font-size: 2.5vw !important;
  }
  .socials img {
    width: 3vw;
    height: 3vw;
  }
  #instagram {
    left: 41%;
  }
  #linkedin {
    left: 47%;
  }
  #vimeo {
    left: 53%;
  }
  #giphy {
    left: 59%;
  }
  #right {
    margin-left: 60px;
  }
  #carousel-container {
    width: 76%;
  }
  #footer-container {
    height: 20vw;
  }
  #header-logo-container {
    position: fixed;
    width: 100%;
    height: 10vw;
    background-color: white;
  }
  #header-logo {
    position: fixed;
    top: 1.25vw;
    left: 4vw;
  }
  #header-logo > img {
    width: 25%;
    height: 25%;
  }
}

@media screen and (max-width: 565px) {
  #education {
    margin-left: 20px;
  }
}

@media screen and (max-width: 500px) {
  #heading {
    font-size: 6.45vw;
  }
  #profile {
    font-size: 3.5vw !important;
  }
}

@media screen and (max-width: 475px) {
  .bold {
    font-size: 2.5vw;
  }
  .light {
    font-size: 2vw;
  }
  #education-text-1 {
    line-height: 2.7vw;
  }
}

@media screen and (max-width: 425px) {
  figure {
    margin: 0;
  }
  #burger-menu {
    width: 7.5vw;
    height: 7.5vw;
    left: calc(90.5% - 3vw);
  }
  #check {
    left: calc(89.5% - 3vw);
    width: 7.5vw;
    height: 6.25vw;
  }
  #burger-menu span {
    height: 0.75vw;
    width: 7.5vw;
  }
  .content {
    height: 125vw;
  }
  .titles a, .titles label {
    font-size: 12.5vw;
  }
  #email {
    font-size: 3.125vw !important;
  }
  .socials img {
    width: 4.5vw;
    height: 4.5vw;
  }
  #instagram {
    left: 36.5%;
  }
  #linkedin {
    left: 45.5%;
  }
  #vimeo {
    left: 54.5%;
  }
  #giphy {
    left: 63.5%;
  }
  #right {
    display: block;
    margin: 5%;
  }
  #carousel-container {
    width: 75%;
    top: 98%;
  }
  #experience, #education {
    display: inline;
  }
  .bold {
    font-size: 5.5vw;
  }
  .light {
    font-size: 4.5vw;
  }
  #heading {
    position: absolute;
    top: -25%;
    font-size: 7.5vw;
  }
  #profile {
    position: absolute;
    top: -14%;
    font-size: 4vw !important;
  }
  #education-title {
    margin-top: 0;
  }
  #education-text-1 {
    line-height: 5.5vw;
  }
  #experience-title {
    margin-top: 0;
  }
  #experience-text {
    margin-bottom: 0;
  }
  #brands {
    margin-top: 0;
    margin-bottom: 0;
  }
  #header-logo {
    top: 1.75vw;
    left: 4.75vw;
  }
}