#viewport {
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}



/* LOGO */
#header-logo {
    position: relative;
    top: 1.25vw;
    left: 4vw;
}
  
#header-logo > img {
    width: 175px;
}



/* FONTS */
.light {
    font-family: "GT Walsheim Light", sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #474747;
}
  
.bold {
    font-family: "GT Walsheim", sans-serif;
    font-size: 25px;
    color: #474747;
}

#project-title {
    font-family: "GT Walsheim", sans-serif;
    font-size: 35px;
    color: #474747;
}



/* CONTENT */
#content {
    position: absolute;
    top: calc(75px + 2vw);
    width: 100%;
}

#main-image-container {
    position: relative;
    width: 100%;
    height: 42.5vw;
    overflow: hidden;
}

#main-image {
    width: 100%;
}

.text-container {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 45%;
    margin-top: 5vw;
}

#brief-title, #solution-title, #text-title {
    margin-top: 0;
}

#link {
    text-decoration: none;
    font-family: "GT Walsheim Light", sans-serif;
    color: #474747;
}
#link:hover {
    color: #e98279;
}

#phones-container, #guidelines-container, #email-container {
    position: relative;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-top: 5vw;
    text-align: center;
}

#phones-image, #brand-guidelines-image, #email-image {
    width: 85%;
    height: 85%;
}

#misc-images {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 2.5vw;
}

#misc-images img {
    display: inline-block;
    width: 41.5%;
    height: 41.5%;
    padding-left: 1%;
    padding-right: 1%;
}

#misc-videos-container-1, #misc-videos-container-2 {
    position: relative;
    width: 50%;
    margin-top: 2.5vw;
    display: inline-block;
}

#misc-videos-container-1 {
    text-align: right;
}

.misc-video {
    display: inline-block;
    width: 39.5%;
    height: 39.5%;
    padding-left: 2%;
    padding-right: 2%;
}



/* FOOTER */
#footer-container {
    position: relative;
    top: 7.5vw;
}

@media screen and (max-width: 1024px) {
    .text-container {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    #header-logo {
        top: 1.25vw;
        left: 4vw;
    }
    #header-logo > img {
        width: 22.5%;
    }
    #content {
        top: 12vw;
    }
    #footer-container {
        height: 7.5vw;
        top: 5vw;
    }
    .text-container, #promo-video, #phones-image,
    #brand-guidelines-image, #email-image {
        width: 90%;
    }
    #misc-images img {
        width: 44%;
        height: 44%;
    }
    #misc-videos-container-1, #misc-videos-container-2 {
        display: block;
        width: 100%;
        text-align: center;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    #misc-videos-container-2 {
        margin-top: 1%;
        margin-bottom: 5vw;
    }
    .misc-video {
        width: 44%;
        height: 44%;
        padding-left: 1%;
        padding-right: 1%;
    }
    #header-logo {
        top: 1.75vw;
        left: 4.75vw;
    }
    #white-bar {
        position: fixed;
        height: 10vw;
        width: 100%;
        background-color: white;
    }
}