<div id = "viewport">

    <!-- Header -->
    <app-header></app-header>

    <div id = "content">
        <div id = "main-image-container">
            <img src = "../../../assets/project-pages/freeriderco/images/promo.jpg" id = "main-image">
        </div>

        <div class = "text-container">
            <p id = "project-title">
                Freerider Co.
            </p>
            <p id = "brief-title" class = "bold">
                The brief
            </p>
            <p class = "light">
                Create engaging social media animations and online advertisements
                for a maternity lifestyle brand. Promote their sustainable materials
                and being a relatable brand for new parents. Work alongside the founder,
                helping with content ideas and bringing motion to the products to increase
                engagement and brand exposure.
            </p>
        </div>

        <div id = "phones-container">
            <img src = "../../../assets/project-pages/freeriderco/images/phones.gif" id = "phones-image">
        </div>

        <div id = "misc-images">
            <img src = "../../../assets/project-pages/freeriderco/images/icons.gif">
            <img src = "../../../assets/project-pages/freeriderco/images/square.jpg">
        </div>

        <div class = "text-container">
            <p id = "solution-title" class = "bold">
                The approach
            </p>
            <p class = "light">
                From instagram branding to email campaigns, I bring motion to the brand
                photography through playful gifs. Creating brand stickers that can be
                used on instagram, which through GIPHY, have reached over 1.5 million views.
                Helping to make consistent but playful brand guidelines for social media,
                including graphic elements and colour palettes. 
            </p>
        </div>

        <div id = "guidelines-container">
            <img src = "../../../assets/project-pages/freeriderco/images/brand-guidelines.gif" id = "brand-guidelines-image">
        </div>

        <div id = "misc-videos-container-1">
            <video class = "misc-video" loop autoplay>
                <source src = "../../../assets/project-pages/freeriderco/videos/video1.mp4" type = "video/mp4">
            </video>
            <video class = "misc-video" loop autoplay>
                <source src = "../../../assets/project-pages/freeriderco/videos/video2.mp4" type = "video/mp4">
            </video>
        </div>
        <div id = "misc-videos-container-2">
            <video class = "misc-video" loop autoplay>
                <source src = "../../../assets/project-pages/freeriderco/videos/video3.mp4" type = "video/mp4">
            </video>
            <video class = "misc-video" loop autoplay>
                <source src = "../../../assets/project-pages/freeriderco/videos/video4.mp4" type = "video/mp4">
            </video>
        </div>

        <div class = "text-container">
            <p id = "text-title" class = "bold">
                The process
            </p>
            <p class = "light">
                Aiming to boost the brands recognisability, by posting consistently with the
                brand elements subtly included throughout. Matching and improving the graphics
                with the already established brand style.
            </p>
        </div>

        <div id = "email-container">
            <img src = "../../../assets/project-pages/freeriderco/images/email.gif" id = "email-image">
        </div>

        <!-- Footer -->
        <div id = "footer-container">
            <app-footer></app-footer>
        </div>

    </div>

    <div id = "header-logo-container"></div>
    <a routerLink = "/work" id = "header-logo"><img src = "../../assets/header/logo-dark.gif"></a>

    <!-- Burger Menu -->
    <app-burger-menu></app-burger-menu>

</div>