<div id = "burger-container">
    <input type = "checkbox" id = "check"/>
    <div id = "burger-menu">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <ul id = "canvas">
      <div class = "content">
        <div class = "titles">

          <div id = "intro-div">
            <label for = "check" id = "intro-text"> intro </label>
            <img src = "../../assets/burger-menu/scribbles/intro-scribble.svg" id = "intro-scribble">
          </div>

          <div id = "work-div">
            <a routerLink = "/work" id = "work-text"> work </a>
            <img src = "../../assets/burger-menu/scribbles/work-scribble.svg" id = "work-scribble">
          </div>

          <div id = "play-div">
            <a routerLink = "/play" id = "play-text"> play </a>
            <img src = "../../assets/burger-menu/scribbles/play-scribble.svg" id = "play-scribble">
          </div>

          <div id = "me-div">
            <a routerLink = "/me" id = "me-text"> me </a>
            <img src = "../../assets/burger-menu/scribbles/me-scribble.svg" id = "me-scribble">
          </div>
          <a href = "mailto: alicelhodge@icloud.com" id = "email">alicelhodge@icloud.com</a>
        </div>

        <div class = "socials">
          <a href = "https://www.instagram.com/alicehodgedesign/"><img src = "../../assets/burger-menu/social-icons/instagram.svg" id = "instagram"></a>
          <a href = "https://www.linkedin.com/in/alice-hodge-a88995151/"><img src = "../../assets/burger-menu/social-icons/linkedin.svg" id = "linkedin"></a>
          <a href = "https://vimeo.com/user80054186"><img src = "../../assets/burger-menu/social-icons/vimeo.svg" id = "vimeo"></a>
          <a href = "https://giphy.com/Alicehodgedesign"><img src = "../../assets/burger-menu/social-icons/giphy.svg" id = "giphy"></a>
        </div>
      </div>
    </ul>
  </div>