<div id = "viewport">

    <!-- Header -->
    <app-header></app-header>

    <div id = "content">
        <div id = "main-image-container">
            <img src = "../../../assets/project-pages/soy-and-melt/images/soy_melt_banner.jpg" id = "main-image">
        </div>

        <div class = "text-container">
            <p id = "project-title">
                Soy & Melt Candle Co.
            </p>
            <p id = "brief-title" class = "bold">
                The brief
            </p>
            <p class = "light">
                Soy and Melt is a new candle company that uses up-cycled containers, such as
                jars and cut Prosecco bottles. The brand identity needed to reflect the sustainable
                elements with modern and simple style. The brand product photography also needs to
                reflect the values and showcase the scents visually.
            </p>
        </div>

        <div id = "candle-container">
            <img src = "../../../assets/project-pages/soy-and-melt/images/soy_melt_banner.jpg" id = "candle-image">
        </div>

        <div class = "misc-images" id = "misc-1">
            <img src = "../../../assets/project-pages/soy-and-melt/images/logo1.png">
            <img src = "../../../assets/project-pages/soy-and-melt/images/CandleImage_1.png">
        </div>

        <div class = "text-container">
            <p id = "solution-title" class = "bold">
                The goal
            </p>
            <p class = "light">
                To build the brand presence on social media to produce traffic to their instagram
                shop and also their Etsy site. The competition of other up-cycled candles, tend to
                lack strong visual presence so this is where Soy and Melt will begin to stand out
                with their distinct and consistent modern branding. The brand also aims to promote
                sustainable messages and encourage their audience to reuse and recycle.
            </p>
        </div>

        <div id = "candle-container">
            <img src = "../../../assets/project-pages/soy-and-melt/images/LogoGIF.gif" id = "candle-image">
        </div>

        <div class = "misc-images" id = "misc-1">
            <img src = "../../../assets/project-pages/soy-and-melt/images/CandleImage_2.png">
            <img src = "../../../assets/project-pages/soy-and-melt/images/logo3.jpg">
        </div>

        <div id = "candle-container">
            <img src = "../../../assets/project-pages/soy-and-melt/images/Box_Mockup.jpg" id = "candle-image">
        </div>

        <div class = "misc-images" id = "misc-1">
            <img src = "../../../assets/project-pages/soy-and-melt/images/CandleImage_3.png">
            <img src = "../../../assets/project-pages/soy-and-melt/images/logo2.png">
        </div>

        <!-- Footer -->
        <div id = "footer-container">
            <app-footer></app-footer>
        </div>

    </div>

    <div id = "white-bar">
        <a routerLink = "/work" id = "header-logo"><img src = "../../assets/header/logo-dark.gif"></a>
    </div>

    <!-- Burger Menu -->
    <app-burger-menu></app-burger-menu>

</div>