#viewport {
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}



/* LOGO */
#header-logo {
    position: relative;
    top: 1.25vw;
    left: 4vw;
}
  
#header-logo > img {
    width: 175px;
}


/* FONTS */
.light {
    font-family: "Avenir Book", sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #474747;
}
  
.bold {
    font-family: "Avenir Medium", sans-serif;
    font-size: 25px;
    color: #474747;
}

#project-title {
    font-family: "Classico Bold", sans-serif;
    font-size: 35px;
    color: #474747;
    margin-bottom: 2.5vw;
}



/* CONTENT */
#content {
    position: absolute;
    top: calc(75px + 2vw);
    width: 100%;
}

#main-image-container {
    position: relative;
    width: 100%;
    height: 42.5vw;
    overflow: hidden;
}

#main-image {
    width: 100%;
}

.text-container {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 45%;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

.credit {
    display: inline-block;
    margin-right: 5vw;
}

#brief-title, #solution-title {
    margin-top: 0;
}

#link {
    text-decoration: none;
    font-family: "GT Walsheim Light", sans-serif;
    color: #474747;
}
#link:hover {
    color: #e98279;
}



#candle-container {
    position: relative;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-top: 2.5vw;
    text-align: center;
}

#candle-image {
    width: 85%;
    height: 85%;
}




#storyboard-container {
    position: relative;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-top: 5vw;
    text-align: center;
}

#storyboard-image {
    width: 85%;
    height: 85%;
}

.misc-images {
    position: relative;
    width: 100%;
    text-align: center;
}

#misc-1 {
    margin-top: 2.5vw;
}
#misc-2 {
    margin-top: 1.5%;
}

.misc-images img {
    display: inline-block;
    width: 41.5%;
    height: 41.5%;
    padding-left: 1%;
    padding-right: 1%;
}



/* FOOTER */
#footer-container {
    position: relative;
    top: 7.5vw;
}

@media screen and (max-width: 1024px) {
    .text-container {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    #header-logo {
        top: 1.25vw;
        left: 4vw;
    }
    #header-logo > img {
        width: 22.5%;
    }
    #content {
        top: 12vw;
    }
    #footer-container {
        height: 7.5vw;
        top: 5vw;
    }
    .text-container, #storyboard-image {
        width: 90%;
    }
    .misc-images img {
        width: 44%;
        height: 44%;
    }
    #header-logo {
        top: 1.75vw;
        left: 4.75vw;
    }
    #white-bar {
        position: fixed;
        height: 10vw;
        width: 100%;
        background-color: white;
    }
}