/* BURGER MENU */
#burger-container {
    visibility: hidden;
}

#burger-menu {
    position: fixed;
    left: calc(97.5% - 6.5vw);
    top: 2vw;
    width: 6.5vw;
    height: 6.5vw;
    z-index: 1;
  }
  
  #check {
    position: fixed;
    top: 2vw;
    left: calc(97% - 6.5vw);
    width: 6.5vw;
    height: 5.6vw;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }
  
  #burger-menu span {
    position: absolute;
    height: 0.65vw;
    width: 6.5vw;
    background: #ebb59a;
    border-radius: 0.5vw;
    opacity: 1;
    left: 0%;
    z-index: 1;
  
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  /* Burger Bars Positions */
  #burger-menu span:nth-child(1)
  {
    top: 10%;
  }
  #burger-menu span:nth-child(2), #burger-menu span:nth-child(3)
  {
    top: 40%;
  }
  #burger-menu span:nth-child(4)
  {
    top: 70%;
  }
  
  /* Animate Burger Bars */
  #burger-container input:checked + #burger-menu > span:nth-child(1)
  {
    top: 40%;
    width: 0%;
    left: 50%;
    background: #ebb59a;
  }
  #burger-container input:checked + #burger-menu > span:nth-child(2)
  {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #f2e2d2;
  }
  #burger-container input:checked + #burger-menu > span:nth-child(3)
  {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background: #f2e2d2;
  }
  #burger-container input:checked + #burger-menu > span:nth-child(4)
  {
    top: 40%;
    width: 0%;
    left: 50%;
    background: #ebb59a;
  }
  
  /* Move canvas */
  #burger-container input:checked ~ #canvas {
    transform: translate(-100%, 0);
  }
  
  /* Canvas */
  #canvas {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 100%;
    background: #e98279;
    -webkit-font-smoothing: antialiased;  /* to stop flickering of text in safari */
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    padding-left: 0;
  }
  
  .content {
    position: relative;
    width: 95%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .content > .scribble > a, .content label {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    text-decoration: none;
    color: #f2e2d2;
    font-family: "GT Walsheim", sans-serif;
    font-size: 11vw;
    width: max-content;
    display: block;
    margin: auto;
  }
  .content label {
    cursor: pointer;
  }
  #email {
    font-size: 2.85vw !important;
    margin-top: 2.85vw;
  }
  
  .scribble {
    display: block;
    margin: auto;
  }
  
  #scribble1 {
    width: 30vw;
    height: 16vw;
  }
  #scribble2 {
    width: 35vw;
    height: 16vw;
  }
  #scribble3 {
    width: 32vw;
    height: 16vw;
  }
  #scribble4 {
    width: 23vw;
    height: 16vw;
  }
  #scribble5 {
    width: 32vw;
    height: 6vw;
  }
  
  #socials {
    position: relative;
    text-align: center;
    margin-top: 2.85vw;
  }
  
  #socials > a {
    font-size: 0;
  }
  
  #socials img {
    display: inline-block;
    width: 2.85vw;
    height: 2.85vw;
    margin-left: 1.425vw;
    margin-right: 1.425vw;
  }

@media screen and (max-width: 768px) {
    #burger-container {
        visibility: visible;
    }
}

@media screen and (max-width: 425px) {
    #check {
        left: calc(96.5% - 6.5vw);
    }
}