<div id = "viewport">

    <!-- Header -->
    <app-header></app-header>

    <div id = "content">

        <div class = "text-container">
            <p class = "bold">
                Error 404 - Page Not Found
            </p>
            <p class = "light">
                Oops... The page you're looking for doesn't exist!
                Click <a routerLink = "/intro" id = "linked-text" class = "bold">HERE</a> to navigate back to my intro page! :)
            </p>
        </div>

        <!-- Footer -->
        <div id = "footer-container">
            <app-footer></app-footer>
        </div>

    </div>

    <div id = "white-bar">
        <a routerLink = "/work" id = "header-logo"><img src = "../../assets/header/logo-dark.gif"></a>
    </div>
    
    <!-- Burger Menu -->
    <app-burger-menu></app-burger-menu>

</div>