/*** INTRO ***/
.container {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f2d2d7;

    max-width: 100% !important;
    overflow-x: hidden !important;
    max-height: 100%;
    /*overflow-y: hidden !important;*/
}

.group {
    left: 0;
    position: absolute;
    text-align: center;
    top: calc(50% - 10vw);
    width: 100%;
}

.welcome {
    font-size: 7vw;
    font-family: "GT Walsheim", sans-serif;
    color: #ea4a6a;
    line-height: 200px;
    margin-top: -100px;
    margin-bottom: -100px;
    position: absolute;
    text-align: center;
    top: 52%;
    width: 100%;
}

.welcome:hover {
  cursor: default;
}

.marquee {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    color: #f2d2d7;
    line-height: 3.5vw;
    }
    
.marquee span {
    display: inline-block;
    font-size: 4vw;
    font-family: Gastromond, sans-serif;
    opacity: 0.5;
    text-shadow: -1px -1px 0 #ea4a6a, 1px -1px 0 #ea4a6a, -1px 1px 0 #ea4a6a, 1px 1px 0 #ea4a6a;
    }

.left span {
    -moz-animation: scroll_left 12.5s linear infinite;
    -webkit-animation: scroll_left 12.5s linear infinite;
    animation: scroll_left 12.5s linear infinite;

    -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    }

.right span {
    -moz-animation: scroll_right 12.5s linear infinite;
    -webkit-animation: scroll_right 12.5s linear infinite;
    animation: scroll_right 12.5s linear infinite;

    -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    }

.group:hover span {
    -moz-animation-play-state: running;
    -webkit-animation-play-state: running;
    animation-play-state: running;

    cursor: default;
    }

@keyframes scroll_left {
0%   { 
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    }
100% { 
    -moz-transform: translate(-100%, 0);
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0); 
    }
}

@keyframes scroll_right {
0%   { 
    -moz-transform: translate(-100%, 0);
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    }
100% { 
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); 
    }
}

.arrow {
    width: 3vw;
    height: 3vw;
    position: absolute;
    object-fit: cover;
    left: calc(50% - 2vw);
    top: 140%;

    -moz-animation: arrow 2s linear infinite;
    -webkit-animation: arrow 2s linear infinite;
    animation: arrow 2s linear infinite;

    -moz-animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
}

.arrow:hover {
  cursor: pointer;
}

@keyframes arrow {
0%   { 
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    }
50% {
    -moz-transform: translate(0, 40%);
    -webkit-transform: translate(0, 40%);
    transform: translate(0, 40%); 
    }

100% { 
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    }
}

/*** BURGER MENU ***/
#burger_menu {
  position: relative;
  width: 100%;
  height: 100%;
  top: -1.75%;
  left: 100%;
  /*outline: black solid 2px;*/
}

#burger_content {
  position: absolute;
  left: -5%;
  top: 2.5%;
  width: 3vw;
  height: 3vw;
  /*outline: green solid 2px;*/
}

#check {
  width: 3vw;
  height: 3vw;
  position: absolute;
  top: 2%;
  left: -5.2%;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  /*outline: black solid 2px;*/
}

#burger_content span {
  position: absolute;
  height: 0.3vw;
  width: 3vw;
  background: #ea4a6a;
  border-radius: 0.5vw;
  opacity: 1;
  left: 0%;

  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  
  z-index: 1;
  /*outline: yellow solid 2px;*/
}

#burger_content span:nth-child(1)
{
  top: 5%;
}
#burger_content span:nth-child(2), #burger_content span:nth-child(3)
{
  top: 40%;
}
#burger_content span:nth-child(4)
{
  top: 75%;
}

/* Animate Burger Menu */
#burger_menu input:checked + #burger_content > span:nth-child(1)
{
  top: 40%;
  width: 0%;
  left: 50%;
  background: #f2d2d7
}
#burger_menu input:checked + #burger_content > span:nth-child(2)
{
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #f2d2d7;
}
#burger_menu input:checked + #burger_content > span:nth-child(3)
{
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background: #f2d2d7
}
#burger_menu input:checked + #burger_content > span:nth-child(4)
{
  top: 40%;
  width: 0%;
  left: 50%;
  background: #f2d2d7
}

/* Move canvas */
#burger_menu input:checked ~ #canvas {
  transform: translate(-100%, 0);
}

/*** CANVAS ***/
#canvas
{
  position: relative;
  width: 100%;
  height: 100%;
  /*outline: blue solid 3px;*/
  top: 0%;
  left: 0%;
  background: #ea4a6a;
  -webkit-font-smoothing: antialiased;  /* to stop flickering of text in safari */
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  padding-left: 0;
}

/* Titles Text */
.titles a, .titles label {
  text-decoration: none;
  color: #f2d2d7;
  font-family: "GT Walsheim", sans-serif;
  /*outline: blue solid 2px;*/
  font-size: 5vw;
  position: absolute;
  width: max-content;
  left: 50%;
  transform: translate(-50%, -50%);
}

.titles label {
  cursor: pointer;
}

.content {
  position: absolute;
  outline: green solid 2px;
  width: 95%;
  height: 50vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#email {
  font-size: 1.25vw !important;
}

/* Text / Image Positioning */
#intro-text, #intro-scribble {
  top: 18%;
}
#work-text, #work-scribble {
  top: 30%;
}
#play-text {
  top: 42%;
}
#play-scribble {
  top: 43%;
}
#me-text {
  top: 54%;
}
#me-scribble {
  width: 12vw !important;
  height: 8vw !important;
  top: 55%;
}
#email {
  top: 69%;
}

/* Scribble Properties */
.titles img {
  max-width: 100%;
  width: 15vw;
  height: 10vw;
  position: absolute;
  /*outline: yellow solid 2px;*/
  opacity: 0;
  pointer-events: none;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Hovering */
.titles a:hover ~ img {
  opacity: 1;
}
.titles label:hover ~ img {
  opacity: 1;
}

/*** Social Icon Properties ***/
.socials img {
  width: 1.5vw;
  height: 1.5vw;
  position: absolute;
  top: 80%;
  /*outline: yellow solid 2px;*/
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Social Icon Positioning */
#instagram {
  left: 42.5%;
}
#linkedin {
  left: 47.5%;
}
#vimeo {
  left: 52.5%;
}
#giphy {
  left: 57.5%;
}

/*** FEATURED PROJECTS ***/
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: white;
    padding: 10px;
    position: relative;
    top: 0%;
  }
  
  #photos {
    line-height: 0;
    -webkit-column-count: 2;
    -webkit-column-gap: 0px;
    -moz-column-count: 2;
    -moz-column-gap: 0px;
    column-count: 2;
    column-gap: 5;
  }
  
  #photos img {
    width: 100% !important;
    height: auto !important;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 10px solid rgba(255, 255, 255, 0.8);
    padding: 0px;
    font-size: 30px;
    text-align: center;
  }
  
  .container2 {
    position: relative;
    width: 100%;
  }
  
  .container2:hover .text {
    transition: .5s ease;
    opacity: 1;
  }
  
  .container2:hover .overlay {
    opacity: 0.5;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(255, 255, 255);
  }
  
  .text {
    color: black;
    font-size: 1.8vw;
    line-height: 1.2;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
  }
  
  /* MOBILE */
  @media (max-width: 768px) {
    #photos {
      -moz-column-count: 1;
      -webkit-column-count: 1;
      column-count: 1;
    }
    .text {
      font-size: 4vw;
    }
  }