<!-- INTRO -->
<div class = "container">
<div class = "group">
    <p class = "marquee left">
        <span>view work view work view work view work view work&nbsp;</span>
        <span>view work view work view work view work view work&nbsp;</span>
    </p>
    <p class = "marquee right">
        <span>work view work view work view work view work view&nbsp;</span>
        <span>work view work view work view work view work view&nbsp;</span>
    </p>
    <p class = "marquee left">
        <span>view work view work view work view work view work&nbsp;</span>
        <span>view work view work view work view work view work&nbsp;</span>
    </p>
    <p class = "marquee right">
        <span>work view work view work view work view work view&nbsp;</span>
        <span>work view work view work view work view work view&nbsp;</span>
    </p>
    <p class = "welcome">Hello, I'm Alice</p>
    <img class = "arrow" src = "../../assets/navigation/down_arrow.svg" (click) = "toWork(work)">
</div>

<!-- BURGER MENU -->
<div id = "burger_menu">
  <input type = "checkbox"/>
  <span></span>
  <span></span>
  <span></span>
  <span></span>

  <ul id = "menu">
    <li><a routerLink = "/home"> intro </a></li>
    <li><a routerLink = "/work"> work </a></li>
    <li><a routerLink = "/play"> play </a></li>
    <li><a routerLink = "/me"> me </a></li>
    <li><a href = "mailto: alicelhodge@icloud.com"> <span class = "email">alicelhodge@icloud.com</span></a></li>
    <div class = "socials">
      <a href = "https://www.instagram.com/alicehodgedesign/"><img src = "../../assets/social-icons/instagram.svg" class = "instagram"></a>
      <a href = "https://www.linkedin.com/in/alice-hodge-a88995151/"><img src = "../../assets/social-icons/linkedin.svg" class = "linkedin"></a>
      <a href = "https://vimeo.com/user80054186"><img src = "../../assets/social-icons/vimeo.svg" class = "vimeo"></a>
      <a href = "https://giphy.com/Alicehodgedesign"><img src = "../../assets/social-icons/giphy.svg" class = "giphy"></a>
    </div>
  </ul>
</div>

<!-- FEATURED PROJECTS -->
<div class="grid-container">
  <div #work></div>
    <section id = "photos">
      <div class="grid-item">
      <div class = "container2">
        <a routerLink ="/work/freeriderco">
          <img src = "../../assets/featured-projects/freeriderco.jpg">
            <div class = "overlay"> </div>
            <div class = "text"> FREERIDERCO </div>
        </a>
      </div>
      </div>
      <div class="grid-item">
      <div class = "container2">
        <a routerLink ="/work/all-different-all-normal">
          <img src = "../../assets/featured-projects/freeriderco.jpg">
            <div class = "overlay"> </div>
            <div class = "text"> ALL DIFFERENT. <br> ALL NORMAL. </div>
        </a>
      </div>
      </div>
      <div class="grid-item">
      <div class = "container2">
        <a routerLink ="/work/its-your-time">
          <img src = "../../assets/featured-projects/freeriderco.jpg">
            <div class = "overlay"> </div>
            <div class = "text"> IT'S YOUR TIME </div>
        </a>
      </div>
    </div>
      <div class="grid-item">
      <div class = "container2">
        <a routerLink ="/work/bbc-radio-1">
          <img src = "../../assets/featured-projects/freeriderco.jpg">
            <div class = "overlay"> </div>
            <div class = "text"> BBC RADIO 1 </div>
        </a>
      </div>
    </div>
    </section>
    </div>
  </div>