/*** INTRO ***/
.container {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #f2d2d7;

    max-width: 100% !important;
    overflow-x: hidden !important;
    max-height: 100%;
    overflow-y: hidden !important;
}

.group {
    left: 0;
    position: absolute;
    text-align: center;
    top: calc(50% - 10vw);
    width: 100%;
}

.welcome {
    font-size: 7vw;
    font-family: "GT Walsheim", sans-serif;
    color: #ea4a6a;
    line-height: 200px;
    margin-top: -100px;
    margin-bottom: -100px;
    position: absolute;
    text-align: center;
    top: 52%;
    width: 100%;
}

.welcome:hover {
  cursor: default;
}

.marquee {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    color: #f2d2d7;
    line-height: 3.5vw;
    }
    
.marquee span {
    display: inline-block;
    font-size: 4vw;
    font-family: Gastromond, sans-serif;
    opacity: 0.5;
    text-shadow: -1px -1px 0 #ea4a6a, 1px -1px 0 #ea4a6a, -1px 1px 0 #ea4a6a, 1px 1px 0 #ea4a6a;
    }

.left span {
    -moz-animation: scroll_left 12.5s linear infinite;
    -webkit-animation: scroll_left 12.5s linear infinite;
    animation: scroll_left 12.5s linear infinite;

    -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    }

.right span {
    -moz-animation: scroll_right 12.5s linear infinite;
    -webkit-animation: scroll_right 12.5s linear infinite;
    animation: scroll_right 12.5s linear infinite;

    -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    }

.group:hover span {
    -moz-animation-play-state: running;
    -webkit-animation-play-state: running;
    animation-play-state: running;

    cursor: default;
    }

@keyframes scroll_left {
0%   { 
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    }
100% { 
    -moz-transform: translate(-100%, 0);
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0); 
    }
}

@keyframes scroll_right {
0%   { 
    -moz-transform: translate(-100%, 0);
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    }
100% { 
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); 
    }
}

.arrow {
    width: 3vw;
    height: 3vw;
    position: absolute;
    object-fit: cover;
    left: calc(50% - 2vw);
    top: 140%;

    -moz-animation: arrow 2s linear infinite;
    -webkit-animation: arrow 2s linear infinite;
    animation: arrow 2s linear infinite;

    -moz-animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
}

.arrow:hover {
  cursor: pointer;
}

@keyframes arrow {
0%   { 
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    }
50% {
    -moz-transform: translate(0, 40%);
    -webkit-transform: translate(0, 40%);
    transform: translate(0, 40%); 
    }

100% { 
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    }
}

/*** BURGER MENU ***/
#burger_menu
{
  width: 3vw;
  height: 2.2vw;
  top: -1vw;
  left: 46vw;
  position: relative;
  margin: 50px auto;

  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  
  /*outline: blue solid 2px;*/
  z-index: 1;
}

#burger_menu input
{
  display: block;
  width: 3vw;
  height: 2.5vw;
  position: absolute;
  top: -0.4vw;
  left: -0.1vw;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#burger_menu span
{
  display: block;
  position: absolute;
  height: 0.3vw;
  width: 3vw;
  background: #ea4a6a;
  border-radius: 0.5vw;
  opacity: 1;
  left: 0;

  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  
  z-index: 1;
}

#burger_menu span:nth-child(2)
{
  top: 0%;
}

#burger_menu span:nth-child(3), #burger_menu span:nth-child(4)
{
  top: 0.9vw;
}

#burger_menu span:nth-child(5)
{
  top: 1.8vw;
}

#burger_menu input:checked ~ span:nth-child(2)
{
  top: 0.9vw;
  width: 0%;
  left: 50%;
  background: #f2d2d7
}

#burger_menu input:checked ~ span:nth-child(3)
{
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #f2d2d7;
}

#burger_menu input:checked ~ span:nth-child(4)
{
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background: #f2d2d7
}

#burger_menu input:checked ~ span:nth-child(5)
{
  top: 0.9vw;
  width: 0%;
  left: 50%;
  background: #f2d2d7
}

#burger_menu input:checked ~ ul
{
  transform: translate(-100.5vw, 0);
}

#menu
{
  position: absolute;
  width: 100vw;
  height: 85vh;
  /*outline: blue solid 3px;*/
  top: -13vh;
  left: 6vw;
  padding: 0;
  padding-top: 25vh;
  list-style-type: none;
  
  background: #ea4a6a;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;  /* to stop flickering of text in safari */
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 5vw;
  outline: red solid 1px;
  text-align: center;
}

#menu a {
  text-decoration: none;
  color: #f2d2d7;
  font-family: "GT Walsheim", sans-serif;
  outline: blue solid 2px;
}

#menu label {
  text-decoration: none;
  color: #f2d2d7;
  font-family: "GT Walsheim", sans-serif;
  cursor: pointer;
  outline: blue solid 2px;
}

#menu span {
  font-size: 1.5vw;
  width: 100%;
  color: #f2d2d7;
  font-family: "GT Walsheim", sans-serif;
  cursor: pointer;
  top: 75%;
}

/*** SCRIBBLES ***/
.scribbles img {
  max-width: 100%;
  height: auto;
  width: 12vw;
  height: 8vw;
  position: static;
  outline: yellow solid 2px;
  left: 0%; /*42*/
  opacity: 0.5;
  pointer-events: none;
}

.scribbles a:hover ~ img {
  opacity: 1;
}
.scribbles label:hover ~ img {
  opacity: 1;
}
#intro-scribble {
  top: 20vh;
}
#work-scribble {
  top: 32vh;
}
#play-scribble {
  top: 44vh;
}
#me-scribble {
  top: 58vh;
}

/*** SOCIALS ***/
.socials img {
  width: 2.5vw;
  height: 2.5vh;
  position: absolute;
  top: 85%;
}

#instagram {
  left: calc(45.5% - 1.25vw);
}
#linkedin {
  left: calc(48.5% - 1.25vw);
}
#vimeo {
  left: calc(51.5% - 1.25vw);
}
#giphy {
  left: calc(54.5% - 1.25vw);
}

/*** FEATURED PROJECTS ***/
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: white;
    padding: 10px;
    position: relative;
    top: 100vh;
  }
  
  #photos {
    line-height: 0;
    -webkit-column-count: 2;
    -webkit-column-gap: 0px;
    -moz-column-count: 2;
    -moz-column-gap: 0px;
    column-count: 2;
    column-gap: 5;
  }
  
  #photos img {
    width: 100% !important;
    height: auto !important;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 10px solid rgba(255, 255, 255, 0.8);
    padding: 0px;
    font-size: 30px;
    text-align: center;
  }
  
  .container2 {
    position: relative;
    width: 100%;
  }
  
  .container2:hover .text {
    transition: .5s ease;
    opacity: 1;
  }
  
  .container2:hover .overlay {
    opacity: 0.5;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(255, 255, 255);
  }
  
  .text {
    color: black;
    font-size: 1.8vw;
    line-height: 1.2;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
  }
  
  /* MOBILE */
  @media (max-width: 768px) {
    #photos {
      -moz-column-count: 1;
      -webkit-column-count: 1;
      column-count: 1;
    }
    .text {
      font-size: 4vw;
    }
  }