<div class = "test"></div>

<div class = "group">
    
<p class = "marquee left">
    <span>view work view work view work view work view work&nbsp;</span>
    <span>view work view work view work view work view work&nbsp;</span>
</p>
<p class = "marquee right">
    <span>work view work view work view work view work view&nbsp;</span>
    <span>work view work view work view work view work view&nbsp;</span>
</p>
<p class = "marquee left">
    <span>view work view work view work view work view work&nbsp;</span>
    <span>view work view work view work view work view work&nbsp;</span>
</p>
<p class = "marquee right">
    <span>work view work view work view work view work view&nbsp;</span>
    <span>work view work view work view work view work view&nbsp;</span>
</p>
    <p class = "welcome">Hello, I'm Alice</p>
</div>