<!-- INTRO -->
<div class = "container">
<div class = "group">
    <p class = "marquee left">
        <span>view work view work view work view work view work&nbsp;</span>
        <span>view work view work view work view work view work&nbsp;</span>
    </p>
    <p class = "marquee right">
        <span>work view work view work view work view work view&nbsp;</span>
        <span>work view work view work view work view work view&nbsp;</span>
    </p>
    <p class = "marquee left">
        <span>view work view work view work view work view work&nbsp;</span>
        <span>view work view work view work view work view work&nbsp;</span>
    </p>
    <p class = "marquee right">
        <span>work view work view work view work view work view&nbsp;</span>
        <span>work view work view work view work view work view&nbsp;</span>
    </p>
    <p class = "welcome">Hello, I'm Alice</p>
    <img class = "arrow" src = "../../assets/navigation/down_arrow.svg" (click) = "toWork(work)">
</div>

<!-- BURGER MENU -->
<div id = "burger_menu">
  <input type = "checkbox" id = "check"/>
  <div id = "burger_content">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <ul id = "canvas">
    <div class = "content">
      <div class = "titles">

        <div id = "intro-div">
          <label for = "check" id = "intro-text"> intro </label>
          <img src = "../../assets/burger-menu-scribbles/intro-scribble.svg" id = "intro-scribble">
        </div>

        <div id = "work-div">
          <a routerLink = "/work" id = "work-text"> work </a>
          <img src = "../../assets/burger-menu-scribbles/work-scribble.svg" id = "work-scribble">
        </div>

        <div id = "play-div">
          <a routerLink = "/play" id = "play-text"> play </a>
          <img src = "../../assets/burger-menu-scribbles/play-scribble.svg" id = "play-scribble">
        </div>

        <div id = "me-div">
          <a routerLink = "/me" id = "me-text"> me </a>
          <img src = "../../assets/burger-menu-scribbles/me-scribble.svg" id = "me-scribble">
        </div>
        <a href = "mailto: alicelhodge@icloud.com" id = "email"> alicelhodge@icloud.com</a>
      </div>

      <div class = "socials">
        <a href = "https://www.instagram.com/alicehodgedesign/"><img src = "../../assets/home-social-icons/instagram.svg" id = "instagram"></a>
        <a href = "https://www.linkedin.com/in/alice-hodge-a88995151/"><img src = "../../assets/home-social-icons/linkedin.svg" id = "linkedin"></a>
        <a href = "https://vimeo.com/user80054186"><img src = "../../assets/home-social-icons/vimeo.svg" id = "vimeo"></a>
        <a href = "https://giphy.com/Alicehodgedesign"><img src = "../../assets/home-social-icons/giphy.svg" id = "giphy"></a>
      </div>
    </div>
  </ul>
</div>

  

<!-- FEATURED PROJECTS -->
<div class="grid-container">
  <div #work></div>
    <section id = "photos">
      <div class="grid-item">
      <div class = "container2">
        <a routerLink ="/work/freeriderco">
          <img src = "../../assets/featured-projects/freeriderco.jpg">
            <div class = "overlay"> </div>
            <div class = "text"> FREERIDERCO </div>
        </a>
      </div>
      </div>
      <div class="grid-item">
      <div class = "container2">
        <a routerLink ="/work/all-different-all-normal">
          <img src = "../../assets/featured-projects/all-different-all-normal.jpg">
            <div class = "overlay"> </div>
            <div class = "text"> ALL DIFFERENT. <br> ALL NORMAL. </div>
        </a>
      </div>
      </div>
      <div class="grid-item">
      <div class = "container2">
        <a routerLink ="/work/its-your-time">
          <img src = "../../assets/featured-projects/its-your-time.jpg">
            <div class = "overlay"> </div>
            <div class = "text"> IT'S YOUR TIME </div>
        </a>
      </div>
    </div>
      <div class="grid-item">
      <div class = "container2">
        <a routerLink ="/work/bbc-radio-1">
          <img src = "../../assets/featured-projects/bbc-radio-1.jpg">
            <div class = "overlay"> </div>
            <div class = "text"> BBC RADIO 1 </div>
        </a>
      </div>
    </div>
    </section>
    </div>
  </div>